div#hellopreloader
	div#hellopreloader_preload
		img(src="img/svg/lampInPre.svg" alt="front-end")
		div.progr
header.inner
	div.container
		div.row
			div.col-sm-9
				div.toggle_but
					span
					span
					span
				nav
					ul
						include ../tpl/navigation
			div.col-sm-3.search-wrap
				include ../widgets/searchForm
				div.search-button
					span
					span
					span
				div.lang-switcher
					span ru
					ul
						li
							a(href="/" class="en") en