header.inner
	div.container
		div.row
			div.col-sm-8
				nav
					ul
						include ../tpl/navigation
			div.col-sm-4.search-wrap
				include ../widgets/searchForm
				div.search-button
					span
					span
					span