<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>My Portfolio</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="img/favicon.png" />	
	<link rel="stylesheet" href="css/vendor.min.css">		
	<link rel="stylesheet" href="css/header.min.css" />
	<link rel="stylesheet" href="css/main.min.css" />	
</head>
<body>	
<!-- 	<div id="hellopreloader">
		<div id="hellopreloader_preload">
			<img src="img/svg/lampInPre.svg" alt="front-end">
			<div class="progr"></div>
		</div>
	</div> -->
	<script src="angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/service.js"></script>	
	<header class="inner">		
		<div class="container">
			<div class="row">			
				<div class="col-md-8">
					<nav>
						<ul>
							<li><a href="#">Главная</a></li>
							<li><a href="#">О себе</a></li>
							<li><a href="#">Этапы работы</a></li>
							<li><a href="#">Портфолио</a></li>
							<li><a href="#">Блог</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-4 search-wrap">
					<form id="searchForm">
						
					</form>
					<div class="search-button">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>		
	</header>	
	<main id="calc" data-ng-app="myApp" ng-cloak>		
		<div class="container">
			<div class="row">				
				<div class="col-md-12">
					<ul class="bread">
						<li><a href="/">Главная</a></li>
						<li><a href="#">Портфолио</a></li>				    
						<li>Rif-line.com</li>
					</ul>		
				</div>
			</div>
		</div>
		<section data-ng-controller="mainCtrl">
	<!-- 		<div class="title_block">
				<h2 class="section_title front_side">
					Калькулятор
					<span class="sub_title">Рассчот стоимости</span>
					<span class="section_title back_side">Калькулятор
						<span class="sub_title">Рассчот стоимости</span>
					</span>
				</h2>
			</div> -->
			<div class="container">
				<div class="row">
					<div class="col-md-8">

						<div class="type-site" data-ng-repeat="item in list">
							<div class="type-title" data-ng-click="check(result,$event)">
								<h2>{{item.title}}</h2>
								<span>{{item.description}}</span>																								
							</div>
							<ul class="site-element"> 
								<li data-ng-repeat="service in item.list">
									<div data-ng-if="service.cat == 'design' || service.cat == 'lang'">
										<span class="level-two">{{service.title}}</span>	
										<form id="{{item.type}}-{{$index}}">
											<div class="form-group">
												<div class="select" data-ng-repeat="el in service.listInner">
													<input 
														type="radio" 
														name="fancy-radio" 
														id="{{el.cat}}-{{$index}}"  													
														value="{{el.title}}" 														
														data-time="{{el.time}}"
														data-prise="{{el.price}}" 
														data-ng-click="setRadio(listInner,el)">
													<label for="{{el.cat}}-{{$index}}"></label>
													<span>{{el.title}}</span>
												</div>
											</div>
										</form>
									</div>

									<div data-ng-if="service.cat != 'design'">
										<span class="level-two">{{service.title}}</span>
										<form id="{{item.type}}-{{$index}}">
<!-- 
											<div class="form-group">
												<input type="checkbox" ng-model="all" id="{{item.type}}-all"> 
												<label for="{{item.type}}-all"></label>
												<span>Отметить все</span>
											</div> -->

											<div class="form-group" data-ng-repeat="el in service.listInner">
												<input type="checkbox" 
																ng-checked="all"
																name="fancy-checkbox" 
																id="{{item.type+'-'+el.cat+'-'+$index}}"
																data-time="{{el.time}}"
																data-price="{{el.price}}"																
																data-ng-click="check(el.price,$event)">
												<label for="{{item.type+'-'+el.cat+'-'+$index}}"></label>
												<span>{{el.title}}</span>									
											</div>										
										</form>
									</div>
								</li>								
							</ul>
						</div>		
					</div>
					<div class="col-md-4">

						<div id="price">
							<form>
								<input 
										type="radio" 
										name="fancy-radio" 
										id="rad1"  																													
										ng-model="res"
									>
									<input 
										type="radio" 
										name="fancy-radio" 										
										id="rad2"  																							
										ng-model="res"
									>
								</form>
								<h3>{{res}}</h3>
							<h1>Стоимость проекта: {{result}}$</h1>
							<h1>Время на реализацию: {{test}}</h1>
						</div>	


						<button type="button" class="download site-link">
							<span>Заказать</span>
							<span>Заказать</span>							
						</button>
						<button type="button" class="download site-link">
							<span><i class="fa fa-download"></i> Скачать результат</span>							
							<span><i class="fa fa-download"></i> Скачать результат</span>							
						</button>
						<button type="button" class="download site-link">
							<span><i class="fa fa-envelope"></i>Отправить на почту</span>							
							<span><i class="fa fa-envelope"></i>Отправить на почту</span>							
						</button>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xs-6">
					<h3>Рубрики</h3>
					<div class="col-md-6 col-sm-6">
						<ul class="foot_menu">
							<li><a href="#"><i class="fa fa-home"></i> Главная</a></li>
							<li><a href="#"><i class="fa fa-archive"></i> О себе</a></li>
							<li><a href="#"><i class="fa fa-list-ol"></i> Этапы работы</a></li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-6">
						<ul>
							<li><a href="#"><i class="fa fa-desktop"></i> Портфолио</a></li>
							<li><a href="#"><i class="fa fa-pencil"></i> Блог</a></li>
							<li><a href="#"><i class="fa fa-phone"></i> Контакты</a></li>
						</ul>
					</div>	
				</div>
				<div class="col-md-6 col-xs-6">
					<h3>Соц. сети</h3>
					<div class="col-md-6 col-sm-6">
						<ul class="soc">
							<li>								
								<a href="https://www.instagram.com/" target="_blank">
									<i class="fa fa-instagram"></i>
									instagram			
								</a>			
							</li>
							<li>								
								<a href="https://www.youtube.com/channel/UCwiwLMn5o6vnu90aLBntD5g" target="_blank">
									<i class="fa fa-youtube"></i>
									youtube			
								</a>			
							</li>
							<li>								
								<a href="https://twitter.com/ykarservises" target="_blank">
									<i class="fa fa-twitter"></i>
									twitter								
								</a>			
							</li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-6">
						<ul>
							<li>								
								<a href="https://www.facebook.com/ykarservice" target="_blank">
									<i class="fa fa-facebook"></i>
									facebook
								</a>			
							</li>
							<li>								
								<a href="https://vk.com/ykarservis" target="_blank">
									<i class="fa fa-vk"></i>
									Вконтакте
								</a>			
							</li>
							<li>								
								<a href="https://vk.com/ykarservis" target="_blank">
									<i class="fa fa-linkedin"></i>
									Linkedin
								</a>			
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<a href="Aleksandr_Tsumbaluk.pdf" class="download site-link white">
							<span><i class="fa fa-download"></i> Скачать резюме в PDF</span>
							<span><i class="fa fa-download"></i> Скачать резюме в PDF</span>							
						</a>
					</div>					
					<div class="col-md-4 col-sm-4">
						<p><i class="fa fa-envelope-o"></i> E-mail: <a href="mailto:tsumbaluk888@gmail.com">tsumbaluk888@gmail.com</a></p>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="dev">
							<a href="http://tsumbaluk.in.ua/">
								Developed by
								<span>Alexander Tsymbalyuk</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fixed_menu">
			<div class="button_logo">
				<div class="logo">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="icon_button">
					<span class="fa fa-bars" data-menu="first-menu"></span>
					<span class="fa fa-link" data-menu="second-menu"></span>
				</div>
			</div>

			<ul class="open_fixed first-menu">
				<li><a href="#">Главная</a></li>
				<li><a href="#">О себе</a></li>
				<li><a href="#">Этапы работы</a></li>
				<li><a href="#">Портфолио</a></li>
				<li><a href="#">Блог</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<ul class="open_fixed second-menu">
				<li>								
					<a href="https://www.instagram.com/" target="_blank">
						<i class="fa fa-instagram"></i>instagram</a>			
					</li>
					<li>								
						<a href="https://www.youtube.com/channel/UCwiwLMn5o6vnu90aLBntD5g" target="_blank">
							<i class="fa fa-youtube"></i>youtube</a>			
						</li>
						<li>								
							<a href="https://twitter.com/ykarservises" target="_blank">
								<i class="fa fa-skype"></i>
								Skype							
							</a>			
						</li>
						<li>								
							<a href="https://www.facebook.com/ykarservice" target="_blank">
								<i class="fa fa-facebook"></i>
								facebook
							</a>			
						</li>
						<li>								
							<a href="https://vk.com/ykarservis" target="_blank">
								<i class="fa fa-vk"></i>
								Вконтакте
							</a>			
						</li>
						<li>								
							<a href="https://vk.com/ykarservis" target="_blank">
								<i class="fa fa-linkedin"></i>
								Linkedin
							</a>			
						</li>
					</ul>

				</div>
			</footer>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	
	<script src="js/jquery-1.11.2.min.js"></script>	
	<script src="js/plagin.min.js"></script>
	<script src="js/common.min.js"></script>
	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</body>
</html>