include templates/helpers/mixins

doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		include templates/structure/header
		main
			include templates/widgets/skills
			include templates/widgets/work-step
			include templates/widgets/portfolio
			include templates/widgets/plagins
			include templates/widgets/blog
			include templates/widgets/contacts			

		include templates/structure/footer
		include templates/structure/scripts