include templates/helpers/mixins

doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		include templates/structure/header-inner
		main
			section.blog-inner.mb6.mt4
				div.container
					div.row
						div.col-md-12
							div.blog-content
								h1.title-left.mb0 Particles.js что это такое?
								p.label.mb4.mt2
									span tsumbaluk.in.ua
									span 28.12.2016
								p 
									|Последнее время часто видел этот эффект на сайтах и решил на одном из landing page тоже сделать что-то подобное. Наткнулся на этот онлайн генератор 
									a(href="http://vincentgarreau.com/particles.js/" target="_blank" rel="nofollow") Particles.js 
									img(src="img/particlesjs_generator.jpg" class="btn pop" data-show="foto1")
									| Данная библиотека обладает множеством настроек начиная от количества частиц на экране до реагирования на события браузера. Задача у меня стояла следующая нужно было на фоне сайта сделать такой эффект. Итак, первым делом скачиваем архив с самой библиотекой. В нем вы найдете множество файлов, но нас интересует непосредственно сама библиотека я взял сжатую версию particles.min.js. Также там есть демо по которому легко разобраться что к чему. Вся прелесть в том что в генераторе в режиме реального времени мы можем сконфигурировать наш particles.json как нам угодно. Так же там доступен блок статистики при добавлении частиц стоит обращать внимание на количество FPS и не переусердствовать. Вот те незначительные настройки которые использовал я.
								ul
									li particles>number>value 60 кол-во. частиц
									li particles>color>value(single string) #ccc цвет частиц
									li particles>line_linked>color #ccc цвет связующи линий
									li interactivity>onhover>enable убираем событие hover
									li interactivity>onclick>enable убираем событие click
									li → Download current config (json) скачиваем наш конфиг и вставляем в месте инита библиотеки
								div.code-wrap
									pre
										code#copy-clip.javascript.
											particlesJS('particles-js',{
												"particles": {
													"number": {
														"value": 100,
														"density": {
															"enable": true,
															"value_area": 800}	
													},
													"color": {
														"value": "#8DAAB8"
													},
													"shape": {
														"type": "circle",
														"stroke": {
															"width": 0,
															"color": "#000000"
														},
														"polygon": {
															"nb_sides": 5
														},
														"image": {
															"src": "img/github.svg",
															"width": 100,
															"height": 100
														}
													},
													"opacity": {
														"value": 0.5,
														"random": false,
														"anim": {
															"enable": false,
															"speed": 1,
															"opacity_min": 0.1,
															"sync": false
														}
													},
													"size": {
														"value": 8.8,
														"random": true,
														"anim": {
															"enable": false,
															"speed": 40,
															"size_min": 0.1,
															"sync": false
														}
													},
													"line_linked": {
														"enable": true,
														"distance": 150,
														"color": "#8DAAB8",
														"opacity": 0.4,
														"width": 2
													},
													"move": {
														"enable": true,
														"speed": 4,
														"direction": "none",
														"random": false,
														"straight": false,
														"out_mode": "out",
														"bounce": false,
														"attract": {
															"enable": false,
															"rotateX": 600,
															"rotateY": 1200
														}
													}
												},
												"interactivity": {
													"detect_on": "canvas",
													"events": {
														"onhover": {
															"enable": false,
															"mode": "repulse"
														},
														"onclick": {
															"enable": false,
															"mode": "push"
														},
														"resize": true
													},
													"modes": {
														"grab": {
															"distance": 400,
															"line_linked": {
																"opacity": 1
															}
														},
														"bubble": {
															"distance": 400,
															"size": 40,
															"duration": 2,
															"opacity": 8,
															"speed": 3
														},
														"repulse": {
															"distance": 200,
															"duration": 0.4
														},
														"push": {
															"particles_nb": 4
														},
														"remove": {
															"particles_nb": 2
														}
													}
												},
												"retina_detect": true
											});
										button(class="btn-сlipboard" data-clipboard-target="#copy-clip")
											i.fa.fa-files-o
								p 									
									|И еще так как задачей было сделать background из частиц то нужно добавить немного CSS. Здесь устанавливаем фиксированную позицию во весь экран, делаем прозрачный фон, и добавляем z-index: -1; для того чтобы наш блок не мешал взаимодействовать с остальной страничкой.
								.code-wrap
									pre
										code#copy-clip.css.
											#particles-js{ 
												position: fixed; 
												width: 100%; 
												height: 100%; 
												background-color: transparent; 				
												z-index: -1;
												top: 0; 
												left: 0; 
											}
										button(class="btn-сlipboard" data-clipboard-target="#copy-clip")
											i.fa.fa-files-o

								div.share-block.left.mt1
									span.label Поделиться:
									a(data-pin-do="buttonBookmark" data-pin-lang="ru" data-pin-save="true" href="https://ru.pinterest.com/pin/create/button/" class="pinterest")
										i.fa.fa-pinterest
									button(type="button" onclick="Share.facebook('URL','TITLE','IMG_PATH','DESC')" class="facebook")
										i.fa.fa-facebook
									button(type="button" onclick="Share.vkontakte('http://tsumbaluk.in.ua/','TITLE','http://tsumbaluk.in.ua/wp-content/uploads/2016/01/maket2.jpg','DESC')" class="vk")
										i.fa.fa-vk
				div.popup#foto1
					div.popup-content
						img(src="img/particlesjs_generator.jpg")				
			section.black_section
				div.container
					div.row
						div.col-md-12
							div.site-descr.centr
								h2.title-left Результат
							p(data-height="400" data-theme-id="dark" data-slug-hash="NRvLxJ" data-default-tab="result" data-user="rodan8888" data-embed-version="2" class="codepen") See the Pen 
								a(href="http://codepen.io/rodan8888/pen/NRvLxJ/")
									| Particles.js by Alexander Tsymbaluk 
									| (<a href="http://codepen.io/rodan8888">@rodan8888</a>) on 
									a(href="http://codepen.io") CodePen
						
			include templates/widgets/lust-blog
			
		include templates/structure/footer	
		include templates/structure/scripts		
		include templates/structure/sharescripts
		script(async src="//assets.codepen.io/assets/embed/ei.js")
		script(src="js/blog-script/jquery.hoverdir.js")
		script(src="js/blog-script/packery.min.js")
		script(src="js/blog-script/clipboard.min.js")
		script(src="js/blog-script/highlight.pack.js")
		link(rel="stylesheet", href="js/blog-script/zenburn.css")
		script.
			$(function(){
				var grid = $('.grid');
				grid.packery();
				grid.find('.blog-grid').hoverdir({hoverElem:'.site-descr'});				

				var btnClipboard = $('.btn-сlipboard'),
						dataCopy     = btnClipboard.prev('code').attr('id'),
						clipboard    = new Clipboard('.btn-сlipboard');
				
				//- btnClipboard.attr('data-clipboard-target', dataCopy);
				clipboard.on('success', function() {				
					btnClipboard.addClass('active');
					setTimeout(function() {		
						btnClipboard.removeClass('active');
					}, 2000);
				});

				hljs.configure({
					  tabReplace: '  '					  
					});
				hljs.initHighlightingOnLoad();

				$('iframe.cp_embed_iframe').load(function(){
				console.log($(this));
					$(this).contents().find('body').css("border","1px solid #111");
				});

			}());