doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		include templates/structure/header-inner
		main
			div.main-title
				div.container
					div.row
						div.col-md-12
							h1
								|jQuery-svg-popup
			section.blog-inner.mb6.mt4
				div.container
					div.row
						div.col-md-12
							div.blog-content
								h2.title-plagin.mb2 Надоели типичные модальные окна?!
								ul
									li Есть решение - 
										strong jQuery-svg-popup .
									li Быстрый - формирование частиц основано на базе SVG.
									li Легкий - вес плагина всего 5kb.
									li Прост в использовании - имеет документацию на русском языке.
									li Ето решение разнообразит дизайн вашего сайта, а также придаст уникальности и стиля!
								h2.title-plagin.mt4 Скачать / установить
								ul.mb4
									li 
										strong npm:
										| npm i jquery-svg-popup
									li 
										strong github:
										a(href="https://github.com/rodan888/jQuery-svg-popup" target="_blank" rel="nofollow") https://github.com/rodan888/jQuery-svg-popup
								h2.title-plagin Примеры
								div.demo-wrap.mt3.mb4
									div.demo-item
										img(src="img/demo1.jpg" alt="jquery-svg-popup")
										button(type="button" class="demo-btn") Demo 1
									div.demo-item
										img(src="img/demo2.jpg" alt="jquery-svg-popup")
										button(type="button" class="demo-btn") Demo 2
									div.demo-item
										img(src="img/demo3.jpg" alt="jquery-svg-popup")
										button(type="button" class="demo-btn") Demo 3
								h2.title-plagin Докумментация
								div.table
									ul.table-head
										li 
											span Свойство
										li 
											span Значение
										li 
											span Тип
										li 
											span Описание
									-
										var tableList = [
											{
												property: "stepX",
												defoult: "12",
												type: "Number",
												description: "количество частиц по ширыне екрана"
											},{
												property: "stepY",
												defoult: "10",
												type: "Number",
												description: "количество частиц по висоте екрана"
											},{
												property: "fill",
												defoult: "#03BDD6",
												type: "String",
												description: "Цвет попапа"
											},{
												property: "fillOdd",
												defoult: "null",
												type: "String",
												description: "Цвет четных частиц попапа"
											},{
												property: "fillEven",
												defoult: "null",
												type: "String",
												description: "Цвет не четных частиц попапа"
											},{
												property: "strokeFill",
												defoult: "null",
												type: "String",
												description: "Цвет границы частиц попапа"
											},{
												property: "opacity",
												defoult: "0.8",
												type: "Number",
												description: "Прозрачность фона"
											},{
												property: "speed",
												defoult: "1.8",
												type: "Number",
												description: "Длительность анимации частиц"
											},{
												property: "figure",
												defoult: "triangle",
												type: "String",
												description: "Тип частицы попапа доступно('triangle','rectangle')"
											},{
												property: "visible",
												defoult: "false",
												type: "Boolean",
												description: "Отображать неупорядочиные частицы при загрузке страницы"
											},{
												property: "randomize",
												defoult: "true",
												type: "Boolean",
												description: "Более хаотическое расположении фигур"
											},{
												property: "closeButtonText",
												defoult: "&#10006;",
												type: "String",
												description: "Текст закрывающей кнопки"
											},{
												property: "onAnimationComplate",
												defoult: "undefined",
												type: "Function",
												description: "Колбек функция авершения анимации фигур"
											}					
										];
									for table in tableList
										ul.table-body
											li 
												span= table.property
											li 
												span= table.defoult
											li 
												span= table.type
											li 
												span= table.description
								
								div.share-block.left.mt1
									span.label Поделиться:
									a(data-pin-do="buttonBookmark" data-pin-lang="ru" data-pin-save="true" href="https://ru.pinterest.com/pin/create/button/" class="pinterest")
										i.fa.fa-pinterest
									button(type="button" onclick="Share.facebook('URL','TITLE','IMG_PATH','DESC')" class="facebook")
										i.fa.fa-facebook
									button(type="button" onclick="Share.vkontakte('http://tsumbaluk.in.ua/','TITLE','http://tsumbaluk.in.ua/wp-content/uploads/2016/01/maket2.jpg','DESC')" class="vk")
										i.fa.fa-vk

			include templates/widgets/lust-plugins				
			
		include templates/structure/footer
		include templates/structure/scripts		
		include templates/structure/sharescripts
		script(src="js/blog-script/clipboard.min.js")
		script(src="js/blog-script/highlight.pack.js")
		script(src="js/svg-popup/jQuery-svg-popup.js")
		link(rel="stylesheet", href="js/blog-script/zenburn.css")
		link(rel="stylesheet", href="js/svg-popup/jQuery-svg-popup.css")
		script.
			$(function(){
				var btnClipboard = $('.btn-сlipboard'),
						dataCopy     = btnClipboard.prev('code').attr('id'),
						clipboard    = new Clipboard('.btn-сlipboard');
				
				clipboard.on('success', function() {				
					btnClipboard.addClass('active');
					setTimeout(function() {		
						btnClipboard.removeClass('active');
					}, 2000);
				});

				hljs.configure({
						tabReplace: '  '					  
					});
				hljs.initHighlightingOnLoad();

				$('.svg-popup').atpopup({
					stepX: 8,
					stepY: 7,
					figure: 'rectangle',
					fill: '#fcbf02',
					opacity: 0.6,				
					visible: false,
					speed: 1.2,
					randomize: true
				});
			}());