svg(version="1.1" id="second" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 918.3 920" style="enable-background:new 0 0 918.3 920;" xml:space="preserve")
	polygon.st0(points="602.7,294.8 615.6,346.5 619.4,316.3 ")
	polygon.st1(points="626.3,245 619.4,316.3 602.7,294.8 ")
	polygon.st2(points="628.8,198 626.3,245 616.6,157.5 ")
	polygon.st2(points="606.3,198.5 616.6,157.5 626.3,245 ")
	polygon.st3(points="595.1,246.8 606.3,198.5 626.3,245 ")
	polygon.st4(points="564.3,168.8 616.6,157.5 606.3,198.5 ")
	polygon.st5(points="595.1,246.8 564.3,168.8 606.3,198.5 ")
	polygon.st6(points="626.3,245 602.7,294.8 595.1,246.8 ")
	polygon.st7(points="616.6,157.5 564.3,168.8 582.1,118 ")
	polygon.st8(points="595.1,246.8 564.3,168.8 551.3,213 ")
	polygon.st9(points="582.1,118 564.3,168.8 531.3,182.5 ")
	polygon.st10(points="551.3,213 564.3,168.8 531.3,182.5 ")
	polygon.st11(points="595.1,246.8 551.3,213 568.8,249.8 ")
	polygon.st12(points="602.7,294.8 595.1,246.8 568.8,249.8 ")
	polygon.st13(points="582.1,118 489.8,151 531.3,182.5 ")
	polygon.st6(points="550.3,87.3 582.1,118 489.8,151 ")
	polygon.st14(points="502.7,58 550.3,87.3 489.8,151 ")
	polygon.st15(points="466.5,141.2 502.7,58 489.8,151 ")
	polygon.st16(points="433.3,135.3 502.7,58 466.5,141.2 ")
	polygon.st17(points="404,108.5 502.7,58 433.3,135.3 ")
	polygon.st18(points="428.2,60.8 502.7,58 404,108.5 ")
	polygon.st19(points="466.5,39.7 502.7,58 428.2,60.8 ")
	polygon.st20(points="387.5,23.8 466.5,39.7 428.2,60.8 ")
	polygon.st19(points="310.7,44 387.5,23.8 428.2,60.8 ")
	polygon.st21(points="344.7,62.5 310.7,44 428.2,60.8 ")
	polygon.st22(points="404,108.5 428.2,60.8 344.7,62.5 ")
	polygon.st23(points="228.5,113 310.7,44 344.7,62.5 ")
	polygon.st24(points="315.5,153 344.7,62.5 228.5,113 ")
	polygon.st25(points="404,108.5 344.7,62.5 315.5,153 ")
	polygon.st26(points="339.7,186 315.5,153 404,108.5 ")
	polygon.st27(points="368.7,174.7 339.7,186 404,108.5 ")
	polygon.st28(points="433.3,135.3 368.7,174.7 404,108.5 ")
	polygon.st29(points="333.5,224 368.7,174.7 433.3,135.3 ")
	polygon.st30(points="339.7,186 368.7,174.7 333.5,224 ")
	polygon.st31(points="312.2,228 339.7,186 333.5,224 ")
	polygon.st32(points="290.2,224 339.7,186 312.2,228 ")
	polygon.st33(points="315.5,153 339.7,186 290.2,224 ")
	polygon.st34(points="228.5,113 315.5,153 290.2,224 ")
	polygon.st35(points="241.1,168.8 228.5,113 290.2,224 ")
	polygon.st36(points="254.6,213 241.1,168.8 290.2,224 ")
	polygon.st37(points="210.3,246.8 241.1,168.8 254.6,213 ")
	polygon.st38(points="199.6,165.8 228.5,113 241.1,168.8 ")
	polygon.st39(points="205.3,201.5 241.1,168.8 199.6,165.8 ")
	polygon.st40(points="210.3,246.8 241.1,168.8 205.3,201.5 ")
	polygon.st41(points="199.6,165.8 179.3,243.8 205.3,201.5 ")
	polygon.st42(points="183.6,207 199.6,165.8 179.3,243.8 ")
	polygon.st43(points="202.8,294.5 210.3,246.8 179.3,243.8 ")
	polygon.st44(points="205.3,201.5 210.3,246.8 179.3,243.8 ")
	polygon.st45(points="254.6,213 210.3,246.8 236.6,249.8 ")
	polygon.st46(points="202.8,294.5 236.6,249.8 210.3,246.8 ")
	polygon.st47(points="179.3,243.8 186.3,316.5 202.8,294.5 ")
	polygon.st48(points="254.6,213 247.1,292.8 236.6,249.8 ")
	polygon.st49(points="225.6,292.8 236.6,249.8 247.1,292.8 ")
	polygon.st50(points="202.8,294.5 236.6,249.8 225.6,292.8 ")
	polygon.st51(points="205.3,343.3 186.3,316.5 202.8,294.5 ")
	polygon.st52(points="232.5,356.3 205.3,343.3 202.8,294.5 ")
	polygon.st53(points="225.6,292.8 232.5,356.3 202.8,294.5 ")
	polygon.st54(points="247.1,292.8 232.5,356.3 225.6,292.8 ")
	polygon.st55(points="211.8,379.3 205.3,343.3 232.5,356.3 ")
	polygon.st56(points="217,405.3 211.8,379.3 232.5,356.3 ")
	polygon.st57(points="240.6,388.9 217,405.3 232.5,356.3 ")
	polygon.st58(points="230.3,442.9 217,405.3 240.6,388.9 ")
	polygon.st59(points="251.6,447.4 230.3,442.9 240.6,388.9 ")
	polygon.st60(points="318.6,411.1 251.6,447.4 240.6,388.9 ")
	polygon.st61(points="232.5,356.3 318.6,411.1 240.6,388.9 ")
	polygon.st62(points="298.8,330.1 232.5,356.3 318.6,411.1 ")
	polygon.st63(points="247.1,292.8 272.7,313.8 232.5,356.3 ")
	polygon.st64(points="298.8,330.1 232.5,356.3 272.7,313.8 ")
	polygon.st65(points="278.7,269.1 247.1,292.8 254.6,213 ")
	polygon.st66(points="290.2,224 278.7,269.1 254.6,213 ")
	polygon.st67(points="312.2,228 278.7,269.1 290.2,224 ")
	polygon.st68(points="284.6,284.6 247.1,292.8 278.7,269.1 ")
	polygon.st69(points="307.7,257.4 278.7,269.1 312.2,228 ")
	polygon.st70(points="308.6,266.5 278.7,269.1 307.7,257.4 ")
	polygon.st71(points="284.6,284.6 278.7,269.1 308.6,266.5 ")
	polygon.st72(points="308.6,274 284.6,284.6 308.6,266.5 ")
	polygon.st73(points="299.8,284.6 308.6,274 284.6,284.6 ")
	polygon.st74(points="342.5,269.1 308.6,266.5 307.7,257.4 ")
	polygon.st75(points="312.2,228 342.5,269.1 307.7,257.4 ")
	polygon.st76(points="333.5,224 342.5,269.1 312.2,228 ")
	polygon.st77(points="334.3,279.3 342.5,269.1 308.6,266.5 ")
	polygon.st78(points="308.6,274 308.6,266.5 334.3,279.3 ")
	polygon.st79(points="299.8,284.6 308.6,274 334.3,279.3 ")
	polygon.st80(points="272.7,313.8 247.1,292.8 284.6,284.6 ")
	polygon.st81(points="299.8,284.6 272.7,313.8 284.6,284.6 ")
	polygon.st82(points="334.3,279.3 333.5,285.1 299.8,284.6 ")
	polygon.st83(points="303.7,296 299.8,284.6 333.5,285.1 ")
	polygon.st84(points="272.7,313.8 299.8,284.6 303.7,296 ")
	polygon.st85(points="290.2,311 272.7,313.8 303.7,296 ")
	polygon.st86(points="304.6,319.4 303.7,296 290.2,311 ")
	polygon.st87(points="272.7,313.8 290.2,311 304.6,319.4 ")
	polygon.st88(points="298.8,330.1 304.6,319.4 272.7,313.8 ")
	polygon.st89(points="332.5,294.5 333.5,285.1 303.7,296 ")
	polygon.st90(points="304.6,319.4 303.7,296 332.5,294.5 ")
	polygon.st91(points="333.5,316.4 332.5,294.5 304.6,319.4 ")
	polygon.st92(points="298.8,330.1 304.6,319.4 333.5,316.4 ")
	polygon.st93(points="359,317.9 333.5,316.4 298.8,330.1 ")
	polygon.st94(points="332.5,294.5 333.5,316.4 359,317.9 ")
	polygon.st95(points="333.5,285.1 359,317.9 332.5,294.5 ")
	polygon.st96(points="334.3,279.3 376.7,321.4 333.5,285.1 ")
	polygon.st97(points="359,317.9 376.7,321.4 333.5,285.1 ")
	polygon.st65(points="380.6,292 376.7,321.4 334.3,279.3 ")
	polygon.st98(points="342.5,269.1 380.6,292 334.3,279.3 ")
	polygon.st99(points="402.2,243 342.5,269.1 333.5,224 ")
	polygon.st100(points="380.6,292 402.2,243 342.5,269.1 ")
	polygon.st101(points="433.3,135.3 394.5,216.8 333.5,224 ")
	polygon.st102(points="402.2,243 394.5,216.8 333.5,224 ")
	polygon.st103(points="435,181.7 394.5,216.8 433.3,135.3 ")
	polygon.st104(points="466.5,141.2 433.3,135.3 435,181.7 ")
	polygon.st105(points="489.8,151 466.5,141.2 435,181.7 ")
	polygon.st106(points="449.9,192 489.8,151 435,181.7 ")
	polygon.st107(points="394.5,216.8 435,181.7 449.9,192 ")
	polygon.st108(points="402.2,243 449.9,192 394.5,216.8 ")
	polygon.st109(points="445.7,216.8 449.9,192 402.2,243 ")
	polygon.st110(points="531.3,182.5 449.9,192 489.8,151 ")
	polygon.st111(points="492.7,220.8 531.3,182.5 449.9,192 ")
	polygon.st112(points="445.7,216.8 449.9,192 492.7,220.8 ")
	polygon.st113(points="469.2,259.3 445.7,216.8 402.2,243 ")
	polygon.st114(points="492.7,220.8 445.7,216.8 469.2,259.3 ")
	polygon.st115(points="531.3,182.5 524.3,251.2 492.7,220.8 ")
	polygon.st116(points="551.3,213 531.3,182.5 524.3,251.2 ")
	polygon.st117(points="561.7,270.8 568.8,249.8 551.3,213 ")
	polygon.st118(points="524.3,251.2 551.3,213 561.7,270.8 ")
	polygon.st119(points="579.7,293 568.8,249.8 602.7,294.8 ")
	polygon.st120(points="561.7,270.8 568.8,249.8 579.7,293 ")
	polygon.st121(points="615.6,346.5 583.3,359.8 602.7,294.8 ")
	polygon.st122(points="579.7,293 602.7,294.8 583.3,359.8 ")
	polygon.st123(points="605.5,388.2 615.6,346.5 583.3,359.8 ")
	polygon.st124(points="492.7,220.8 494.3,252 469.2,259.3 ")
	polygon.st125(points="524.3,251.2 492.7,220.8 494.3,252 ")
	polygon.st126(points="402.2,243 421.9,286.6 469.2,259.3 ")
	polygon.st127(points="380.6,292 402.2,243 421.9,286.6 ")
	polygon.st128(points="405.3,317.9 380.6,292 421.9,286.6 ")
	polygon.st129(points="376.7,321.4 380.6,292 405.3,317.9 ")
	polygon.st130(points="430.3,308.6 405.3,317.9 421.9,286.6 ")
	polygon.st131(points="470.7,279.3 430.3,308.6 421.9,286.6 ")
	polygon.st132(points="469.2,259.3 421.9,286.6 470.7,279.3 ")
	polygon.st133(points="494.3,252 497.1,264.3 469.2,259.3 ")
	polygon.st134(points="524.3,251.2 497.1,264.3 494.3,252 ")
	polygon.st135(points="515.6,272.3 524.3,251.2 497.1,264.3 ")
	polygon.st136(points="497.1,273.6 497.1,264.3 470.7,279.3 ")
	polygon.st137(points="515.6,272.3 497.1,273.6 497.1,264.3 ")
	polygon.st138(points="561.7,270.8 524.3,251.2 515.6,272.3 ")
	polygon.st139(points="583.3,359.8 579.7,293 561.7,270.8 ")
	polygon.st140(points="542.2,304.8 561.7,270.8 583.3,359.8 ")
	polygon.st141(points="515.6,272.3 561.7,270.8 542.2,304.8 ")
	polygon.st142(points="505.3,284.5 515.6,272.3 497.1,273.6 ")
	polygon.st143(points="542.2,304.8 505.3,284.5 515.6,272.3 ")
	polygon.st144(points="470.7,279.3 497.1,273.6 505.3,284.5 ")
	polygon.st145(points="471.8,285.1 430.3,308.6 470.7,279.3 ")
	polygon.st146(points="505.3,284.5 471.8,285.1 470.7,279.3 ")
	polygon.st147(points="502.2,291.4 505.3,284.5 471.8,285.1 ")
	polygon.st148(points="542.2,304.8 502.2,291.4 505.3,284.5 ")
	polygon.st43(points="473.3,291.4 445.7,312.6 471.8,285.1 ")
	polygon.st149(points="502.2,291.4 473.3,291.4 471.8,285.1 ")
	polygon.st150(points="430.3,308.6 471.8,285.1 445.7,312.6 ")
	polygon.st151(points="475.4,309.4 473.3,291.4 445.7,312.6 ")
	polygon.st152(points="502.6,308.1 473.3,291.4 475.4,309.4 ")
	polygon.st153(points="502.2,291.4 473.3,291.4 502.6,308.1 ")
	polygon.st154(points="512,300.4 502.2,291.4 502.6,308.1 ")
	polygon.st155(points="542.2,304.8 502.2,291.4 512,300.4 ")
	polygon.st156(points="502.6,308.1 542.2,304.8 512,300.4 ")
	polygon.st157(points="507.1,329.6 542.2,304.8 502.6,308.1 ")
	polygon.st158(points="475.4,309.4 507.1,329.6 502.6,308.1 ")
	polygon.st159(points="445.7,312.6 475.4,309.4 507.1,329.6 ")
	polygon.st160(points="583.3,359.8 542.2,304.8 507.1,329.6 ")
	polygon.st161(points="576,387.8 583.3,359.8 599.5,410.8 ")
	polygon.st162(points="587.2,423.8 576,387.8 599.5,410.8 ")
	polygon.st163(points="572.3,427.5 576,387.8 587.2,423.8 ")
	polygon.st164(points="486.8,410.8 583.3,359.8 576,387.8 ")
	polygon.st165(points="507.1,329.6 583.3,359.8 486.8,410.8 ")
	polygon.st166(points="445.7,312.6 507.1,329.6 486.8,410.8 ")
	polygon.st167(points="430.3,308.6 440.3,359.8 445.7,312.6 ")
	polygon.st168(points="486.8,410.8 445.7,312.6 440.3,359.8 ")
	polygon.st169(points="405.3,317.9 430.3,308.6 440.3,359.8 ")
	polygon.st170(points="426.1,383.7 440.3,359.8 405.3,317.9 ")
	polygon.st171(points="467.8,412.5 486.8,410.8 440.3,359.8 ")
	polygon.st172(points="455.6,422 467.8,412.5 440.3,359.8 ")
	polygon.st173(points="445.7,418.8 455.6,422 440.3,359.8 ")
	polygon.st174(points="426.1,383.7 440.3,359.8 445.7,418.8 ")
	polygon.st175(points="435.5,418.8 426.1,383.7 445.7,418.8 ")
	path.st176(d="M447.1,435.1c0-0.5,8.5-13.1,8.5-13.1l12.3-9.5L447.1,435.1z")
	polygon.st177(points="445.7,418.8 447.1,435.1 455.6,422 ")
	polygon.st178(points="435.5,418.8 447.1,435.1 445.7,418.8 ")
	polygon.st179(points="425.2,423 426.1,383.7 435.5,418.8 ")
	polygon.st180(points="447.1,435.1 425.2,423 435.5,418.8 ")
	polygon.st181(points="418.8,432.4 426.1,383.7 425.2,423 ")
	polygon.st182(points="447.1,435.1 425.2,423 418.8,432.4 ")
	polygon.st183(points="572.3,427.5 576,387.8 486.8,410.8 ")
	polygon.st184(points="523.5,489.3 572.3,427.5 486.8,410.8 ")
	polygon.st185(points="467.8,412.5 486.8,410.8 523.5,489.3 ")
	polygon.st186(points="447.1,435.1 467.8,412.5 523.5,489.3 ")
	path.st187(d="M484.6,492.4c0-0.4,38.9-3.1,38.9-3.1l-76.4-54.1L484.6,492.4z")
	polygon.st188(points="413,472.4 447.1,435.1 484.6,492.4 ")
	polygon.st189(points="413,451.6 413,472.4 447.1,435.1 ")
	polygon.st190(points="418,438.6 413,451.6 447.1,435.1 ")
	polygon.st191(points="418.8,432.4 418,438.6 447.1,435.1 ")
	polygon.st192(points="426.1,383.7 406.8,436.8 418.8,432.4 ")
	polygon.st193(points="406.5,443 418.8,432.4 406.8,436.8 ")
	polygon.st194(points="418,438.6 418.8,432.4 406.5,443 ")
	polygon.st195(points="413,451.6 406.5,443 418,438.6 ")
	polygon.st196(points="403.2,436.8 426.1,383.7 406.8,436.8 ")
	polygon.st197(points="406.5,443 403.2,436.8 406.8,436.8 ")
	polygon.st198(points="399.4,443 403.2,436.8 406.5,443 ")
	polygon.st43( points="403.2,472.4 406.5,443 413,472.4 ")
	polygon.st199(points="413,451.6 413,472.4 406.5,443 ")
	polygon.st200(points="399.4,443 403.2,472.4 406.5,443 ")
	polygon.st201(points="393,472.4 403.2,472.4 399.4,443 ")
	polygon.st202(points="393,452.1 393,472.4 399.4,443 ")
	polygon.st203(points="399.4,437.7 399.4,443 403.2,436.8 ")
	polygon.st204(points="385.4,385.8 403.2,436.8 426.1,383.7 ")
	polygon.st205(points="405.3,317.9 426.1,383.7 385.4,385.8 ")
	path.st206(d="M357.5,388.3c0.2-0.1,28-2.4,28-2.4l19.9-68L357.5,388.3z")
	polygon.st207(points="376.7,321.4 405.3,317.9 357.5,388.3 ")
	polygon.st208(points="359,317.9 376.7,321.4 357.5,388.3 ")
	polygon.st209(points="298.8,330.1 359,317.9 318.6,411.1 ")
	polygon.st210(points="357.5,388.3 318.6,411.1 359,317.9 ")
	polygon.st211(points="385.4,385.8 399.4,437.7 403.2,436.8 ")
	polygon.st212(points="393.2,432.4 399.4,437.7 385.4,385.8 ")
	polygon.st213(points="385.9,424.8 385.4,385.8 393.2,432.4 ")
	polygon.st214(points="357.5,388.3 385.4,385.8 385.9,424.8 ")
	polygon.st215(points="370.5,419.6 385.9,424.8 357.5,388.3 ")
	polygon.st216(points="361.5,423 357.5,388.3 370.5,419.6 ")
	polygon.st217(points="345.3,421.9 357.5,388.3 361.5,423 ")
	polygon.st218(points="318.6,411.1 357.5,388.3 345.3,421.9 ")
	polygon.st219(points="399.4,437.7 381.8,436.1 399.4,443 ")
	polygon.st220(points="393.2,432.4 399.4,437.7 381.8,436.1 ")
	polygon.st221(points="385.9,424.8 381.8,436.1 393.2,432.4 ")
	polygon.st222(points="370.5,419.6 381.8,436.1 385.9,424.8 ")
	polygon.st223(points="361.5,423 370.5,419.6 381.8,436.1 ")
	polygon.st224(points="345.3,421.9 361.5,423 381.8,436.1 ")
	polygon.st225(points="364,440.4 381.8,436.1 345.3,421.9 ")
	polygon.st226(points="393,452.1 381.8,436.1 399.4,443 ")
	polygon.st227(points="364,440.4 381.8,436.1 393,452.1 ")
	polygon.st228(points="393,472.4 393,452.1 364,440.4 ")
	polygon.st229(points="320.7,492.7 393,472.4 364,440.4 ")
	polygon.st230(points="300.4,484.5 320.7,492.7 364,440.4 ")
	polygon.st231(points="345.3,421.9 364,440.4 300.4,484.5 ")
	polygon.st232(points="318.6,411.1 345.3,421.9 300.4,484.5 ")
	polygon.st233(points="251.6,447.4 318.6,411.1 300.4,484.5 ")
	polygon.st234(points="258,471.1 251.6,447.4 300.4,484.5 ")
	polygon.st235(points="280.3,521.8 258,471.1 300.4,484.5 ")
	polygon.st236(points="312.2,509 280.3,521.8 300.4,484.5 ")
	polygon.st237(points="320.7,492.7 312.2,509 300.4,484.5 ")
	polygon.st238(points="393,472.4 349.3,489.8 320.7,492.7 ")
	polygon.st239(points="391.1,481.5 393,472.4 349.3,489.8 ")
	polygon.st240(points="401.2,485.3 393,472.4 391.1,481.5 ")
	polygon.st241(points="403.2,472.4 393,472.4 401.2,485.3 ")
	polygon.st242(points="405.8,485.3 403.2,472.4 401.2,485.3 ")
	polygon.st243(points="413,472.4 403.2,472.4 405.8,485.3 ")
	polygon.st244(points="414.8,483.2 405.8,485.3 413,472.4 ")
	polygon.st245(points="403.2,501.5 405.8,485.3 401.2,485.3 ")
	polygon.st246(points="414.8,483.2 405.8,485.3 414.8,501.5 ")
	polygon.st247(points="391.1,481.5 401.2,485.3 403.2,501.5 ")
	polygon.st248(points="414.8,501.5 403.2,501.5 405.8,485.3 ")
	polygon.st249(points="353.5,500 349.3,489.8 391.1,481.5 ")
	polygon.st250(points="453.2,483.6 414.8,483.2 452,500 ")
	polygon.st251(points="484.6,492.4 452,500 453.2,483.6 ")
	polygon.st252(points="414.8,501.5 414.8,483.2 452,500 ")
	polygon.st253(points="390.6,501.5 391.1,481.5 403.2,501.5 ")
	polygon.st254(points="353.5,500 391.1,481.5 390.6,501.5 ")
	polygon.st255(points="320.7,492.7 349.3,489.8 353.5,500 ")
	polygon.st256(points="359.8,528.7 353.5,500 320.7,492.7 ")
	polygon.st257(points="312.2,509 320.7,492.7 359.8,528.7 ")
	polygon.st258(points="396.1,530.2 353.5,500 390.6,501.5 ")
	polygon.st259(points="359.8,528.7 396.1,530.2 353.5,500 ")
	polygon.st260(points="403.2,501.5 396.1,530.2 390.6,501.5 ")
	polygon.st261(points="403,530.2 403.2,501.5 396.1,530.2 ")
	polygon.st262(points="414.8,501.5 403.2,501.5 410.3,530.2 ")
	polygon.st263(points="403,530.2 403.2,501.5 410.3,530.2 ")
	polygon.st264(points="452,500 414.8,501.5 410.3,530.2 ")
	polygon.st265(points="445.2,528.7 452,500 410.3,530.2 ")
	polygon.st266(points="393,558.7 403,530.2 396.1,530.2 ")
	polygon.st267(points="410.3,530.2 403,530.2 412.2,558.7 ")
	polygon.st268(points="393,558.7 412.2,558.7 403,530.2 ")
	polygon.st269(points="359.8,528.7 396.1,530.2 393,558.7 ")
	polygon.st270(points="445.2,528.7 412.2,558.7 410.3,530.2 ")
	polygon.st271(points="324,545.3 359.8,528.7 312.2,509 ")
	polygon.st272(points="280.3,521.8 312.2,509 324,545.3 ")
	polygon.st273(points="320.7,574.3 324,545.3 280.3,521.8 ")
	polygon.st274(points="338,576 324,545.3 320.7,574.3 ")
	polygon.st275(points="359.8,528.7 324,545.3 338,576 ")
	polygon.st276(points="368,569.8 359.8,528.7 393,558.7 ")
	polygon.st277(points="338,576 359.8,528.7 368,569.8 ")
	polygon.st278(points="445.2,528.7 437.8,569.8 412.2,558.7 ")
	polygon.st279(points="247.3,521.8 280.3,521.8 320.7,574.3 ")
	polygon.st280(points="484.6,492.4 445.2,528.7 452,500 ")
	path.st281(d="M523.5,489.3c0,0-10.8,31.4-11.1,30.9c-0.4-0.5-27.7-27.8-27.7-27.8L523.5,489.3z")
	polygon.st282(points="445.2,528.7 484.6,492.4 512.3,520.1 ")
	polygon.st283(points="537.3,534.9 523.5,489.3 512.3,520.1 ")
	path.st284(d="M572.3,427.5c0,0-5.4,50-5.8,50s-43.1,11.8-43.1,11.8L572.3,427.5z")
	polygon.st285(points="537.3,534.9 523.5,489.3 566.6,477.5 ")
	polygon.st286(points="574,508.5 537.3,534.9 566.6,477.5 ")
	polygon.st287(points="593.6,507.9 574,508.5 566.6,477.5 ")
	polygon.st288(points="490.6,554.4 445.2,528.7 512.3,520.1 ")
	polygon.st289(points="537.3,534.9 490.6,554.4 512.3,520.1 ")
	polygon.st290(points="468.3,580.4 437.8,569.8 445.2,528.7 ")
	polygon.st291(points="490.6,554.4 468.3,580.4 445.2,528.7 ")
	polygon.st292(points="496.3,584.4 490.6,554.4 537.3,534.9 ")
	polygon.st293(points="468.3,580.4 496.3,584.4 490.6,554.4 ")
	polygon.st294(points="569.8,574.3 537.3,534.9 574,508.5 ")
	polygon.st295(points="496.3,584.4 569.8,574.3 537.3,534.9 ")
	polygon.st296(points="574,573.5 574,508.5 569.8,574.3 ")
	polygon.st297(points="594.8,574.3 574,508.5 574,573.5 ")
	polygon.st298(points="593.6,507.9 574,508.5 594.8,574.3 ")
	polygon.st299(points="602.1,472.4 593.6,507.9 566.6,477.5 ")
	polygon.st300(points="639.1,490.1 602.1,472.4 593.6,507.9 ")
	polygon.st301(points="670,503.9 639.1,490.1 593.6,507.9 ")
	polygon.st302(points="594.8,574.3 670,503.9 593.6,507.9 ")
	polygon.st303(points="722.5,525.6 594.8,574.3 670,503.9 ")
	polygon.st304(points="584.4,628.9 594.8,574.3 574,573.5 ")
	polygon.st305(points="616.1,628.9 584.4,628.9 594.8,574.3 ")
	polygon.st306(points="722.5,525.6 616.1,628.9 594.8,574.3 ")
	polygon.st307(points="681.7,626.3 722.5,525.6 616.1,628.9 ")
	polygon.st308(points="809,565.8 722.5,525.6 681.7,626.3 ")
	polygon.st309(points="879.2,623.5 681.7,626.3 809,565.8 ")
	polygon.st310(points="710,715.8 879.2,623.5 681.7,626.3 ")
	polygon.st309(points="601.3,684 616.1,628.9 681.7,626.3 ")
	polygon.st311(points="710,715.8 601.3,684 681.7,626.3 ")
	polygon.st312(points="584.4,628.9 616.1,628.9 601.3,684 ")
	polygon.st313(points="710,715.8 879.2,623.5 677.5,797.2 ")
	polygon.st314(points="601.3,684 677.5,797.2 710,715.8 ")
	polygon.st315(points="569.8,574.3 568.3,625.8 574,573.5 ")
	polygon.st316(points="584.4,628.9 574,573.5 568.3,625.8 ")
	polygon.st317(points="569.8,574.3 561.3,626.3 568.3,625.8 ")
	polygon.st318(points="543,672.8 561.3,626.3 569.8,574.3 ")
	polygon.st319(points="568.3,625.8 552.2,673.5 561.3,626.3 ")
	polygon.st320(points="543,672.8 561.3,626.3 552.2,673.5 ")
	polygon.st321(points="569.8,676 568.3,625.8 552.2,673.5 ")
	polygon.st322(points="584.4,628.9 568.3,625.8 569.8,676 ")
	polygon.st323(points="601.3,684 584.4,628.9 569.8,676 ")
	polygon.st324(points="653.6,833 677.5,797.2 601.3,684 ")
	polygon.st325(points="584.4,754.3 569.8,676 601.3,684 ")
	polygon.st326(points="547.5,735.9 569.8,676 584.4,754.3 ")
	polygon.st327(points="552.2,673.5 569.8,676 547.5,735.9 ")
	polygon.st328(points="529.7,733.3 552.2,673.5 547.5,735.9 ")
	polygon.st329(points="543,672.8 552.2,673.5 529.7,733.3 ")
	polygon.st330(points="520.2,731 543,672.8 529.7,733.3 ")
	polygon.st331(points="496.3,584.4 569.8,574.3 515.8,644.6 ")
	polygon.st332(points="543,672.8 515.8,644.6 569.8,574.3 ")
	path.st333(d="M468.3,612.4c0.4-0.4,28-28,28-28l-28-4V612.4z")
	polygon.st334(points="515.8,644.6 468.3,612.4 496.3,584.4 ")
	path.st335(d="M471.3,677c0.6-0.4,44.5-32.4,44.5-32.4l27.1,28.1L471.3,677z")
	polygon.st336(points="468.3,612.4 515.8,644.6 471.3,677 ")
	polygon.st337(points="504.2,711.1 543,672.8 471.3,677 ")
	polygon.st338(points="520.2,731 504.2,711.1 543,672.8 ")
	polygon.st339(points="468.3,612.4 437.8,569.8 468.3,580.4 ")
	polygon.st340(points="430.3,623.5 437.8,569.8 468.3,612.4 ")
	polygon.st341(points="412.2,558.7 437.8,569.8 430.3,623.5 ")
	polygon.st342(points="404.7,623.5 412.2,558.7 430.3,623.5 ")
	polygon.st343(points="393,558.7 412.2,558.7 404.7,623.5 ")
	polygon.st344(points="376.4,620.9 393,558.7 404.7,623.5 ")
	polygon.st345(points="368,569.8 393,558.7 376.4,620.9 ")
	polygon.st346(points="348.1,604.5 368,569.8 376.4,620.9 ")
	polygon.st347(points="338,576 368,569.8 348.1,604.5 ")
	polygon.st348(points="320.7,574.3 338,576 348.1,604.5 ")
	polygon.st349(points="247.3,521.8 338,662.7 320.7,574.3 ")
	polygon.st350(points="348.1,661.7 338,662.7 320.7,574.3 ")
	polygon.st351(points="348.1,604.5 320.7,574.3 348.1,661.7 ")
	polygon.st351(points="376.4,620.9 348.1,604.5 348.1,661.7 ")
	polygon.st352(points="404.7,675.7 376.4,620.9 348.1,661.7 ")
	polygon.st353(points="404.7,623.5 376.4,620.9 404.7,675.7 ")
	polygon.st354(points="435.7,674.7 404.7,623.5 404.7,675.7 ")
	polygon.st355(points="430.3,623.5 404.7,623.5 435.7,674.7 ")
	polygon.st356(points="471.3,677 430.3,623.5 468.3,612.4 ")
	polygon.st357(points="435.7,674.7 430.3,623.5 471.3,677 ")
	polygon.st358(points="451.7,732 435.7,674.7 471.3,677 ")
	polygon.st359(points="500.7,772.3 471.3,677 451.7,732 ")
	polygon.st360(points="504.2,711.1 471.3,677 500.7,772.3 ")
	polygon.st361(points="520.2,731 504.2,711.1 500.7,772.3 ")
	polygon.st362(points="509.5,779.8 520.2,731 500.7,772.3 ")
	polygon.st363(points="529.7,733.3 520.2,731 509.5,779.8 ")
	polygon.st364(points="514.5,782.7 529.7,733.3 509.5,779.8 ")
	polygon.st365(points="527.5,784.8 514.5,782.7 529.7,733.3 ")
	polygon.st366(points="547.5,735.9 529.7,733.3 527.5,784.8 ")
	path.st367(d="M417.8,732c0.2-1,17.8-57.3,17.8-57.3l16,57.3H417.8z")
	polygon.st368(points="404.7,675.7 435.7,674.7 417.8,732 ")
	polygon.st369(points="348.1,661.7 404.7,675.7 417.8,732 ")
	polygon.st370(points="385.7,772.3 417.8,732 348.1,661.7 ")
	polygon.st371(points="338,662.7 348.1,661.7 385.7,772.3 ")
	polygon.st372(points="380.7,773.2 385.7,772.3 338,662.7 ")
	polygon.st373(points="361.8,778.5 338,662.7 380.7,773.2 ")
	polygon.st374(points="260.8,604.5 247.3,521.8 338,662.7 ")
	polygon.st375(points="266.2,684 260.8,604.5 338,662.7 ")
	polygon.st376(points="361.8,778.5 266.2,684 338,662.7 ")
	polygon.st377(points="314,811.3 266.2,684 361.8,778.5 ")
	polygon.st378(points="247.3,521.8 181.1,552.3 260.8,604.5 ")
	polygon.st379(points="166.3,614.5 181.1,552.3 260.8,604.5 ")
	polygon.st380(points="135.8,578.8 181.1,552.3 166.3,614.5 ")
	polygon.st381(points="159.8,720.6 135.8,578.8 166.3,614.5 ")
	polygon.st382(points="260.8,604.5 166.3,614.5 266.2,684 ")
	polygon.st383(points="159.8,720.6 166.3,614.5 266.2,684 ")
	polygon.st384(points="268.1,807.5 266.2,684 159.8,720.6 ")
	polygon.st385(points="314,811.3 266.2,684 268.1,807.5 ")
	polygon.st386(points="102.1,606.8 135.8,578.8 159.8,720.6 ")
	polygon.st387(points="78.5,649 102.1,606.8 159.8,720.6 ")
	polygon.st388(points="60,696.7 78.5,649 159.8,720.6 ")
	polygon.st389(points="190.3,825.3 60,696.7 159.8,720.6 ")
	polygon.st390(points="268.1,807.5 159.8,720.6 190.3,825.3 ")
	polygon.st391(points="655,915.1 584.4,754.3 601.3,684 ")
	polygon.st392(points="653.6,833 601.3,684 655,915.1 ")
	polygon.st393(points="677.5,797.2 653.6,833 655,915.1 ")
	polygon.st394(points="693.3,915.1 655,915.1 677.5,797.2 ")
	polygon.st395(points="584.4,754.3 655,915.1 568.3,915.1 ")
	polygon.st392(points="547.5,735.9 584.4,754.3 568.3,915.1 ")
	polygon.st396(points="527.5,784.8 547.5,735.9 568.3,915.1 ")
	polygon.st397(points="541,915.1 527.5,784.8 568.3,915.1 ")
	polygon.st398(points="507.8,845.3 527.5,784.8 541,915.1 ")
	polygon.st399(points="492.8,875 507.8,845.3 541,915.1 ")
	polygon.st400(points="484.8,915.1 492.8,875 541,915.1 ")
	polygon.st401(points="473.6,897.8 492.8,875 484.8,915.1 ")
	polygon.st402(points="514.5,782.7 527.5,784.8 507.8,845.3 ")
	polygon.st403(points="489.3,842.8 514.5,782.7 507.8,845.3 ")
	polygon.st404(points="492.8,875 507.8,845.3 489.3,842.8 ")
	polygon.st405(points="509.5,779.8 489.3,842.8 514.5,782.7 ")
	polygon.st406(points="469.5,830.2 489.3,842.8 509.5,779.8 ")
	polygon.st407(points="500.7,772.3 509.5,779.8 469.5,830.2 ")
	polygon.st408(points="464.5,826.3 500.7,772.3 469.5,830.2 ")
	polygon.st409(points="463.7,875 489.3,842.8 492.8,875 ")
	polygon.st410(points="473.6,897.8 492.8,875 463.7,875 ")
	polygon.st411(points="440,915.1 473.6,897.8 484.8,915.1 ")
	polygon.st412(points="445.7,889.7 452.1,908.9 440,915.1 ")
	polygon.st413(points="463.7,875 452.1,908.9 473.6,897.8 ")
	polygon.st414(points="445.7,889.7 463.7,875 452.1,908.9 ")
	polygon.st43(points="440,915.1 421.5,889.7 435.3,880.2 ")
	polygon.st415(points="445.7,889.7 435.3,880.2 440,915.1 ")
	polygon.st416(points="402.2,915.1 421.5,889.7 440,915.1 ")
	polygon.st417(points="469.5,830.2 489.3,842.8 463.7,875 ")
	polygon.st418(points="445.7,889.7 469.5,830.2 463.7,875 ")
	polygon.st419(points="437.3,862.2 469.5,830.2 445.7,889.7 ")
	polygon.st420(points="435.3,880.2 437.3,862.2 445.7,889.7 ")
	polygon.st421(points="464.5,826.3 469.5,830.2 437.3,862.2 ")
	polygon.st422(points="435.3,855.5 464.5,826.3 437.3,862.2 ")
	polygon.st423(points="429.8,860.7 437.3,862.2 435.3,880.2 ")
	polygon.st424(points="435.3,855.5 437.3,862.2 429.8,860.7 ")
	polygon.st425(points="421.5,889.7 429.8,860.7 435.3,880.2 ")
	polygon.st426(points="451.7,732 500.7,772.3 464.5,826.3 ")
	polygon.st427(points="417.8,732 451.7,732 464.5,826.3 ")
	polygon.st428(points="435.3,855.5 464.5,826.3 417.8,732 ")
	polygon.st429(points="385.7,772.3 417.8,732 435.3,855.5 ")
	polygon.st430(points="380.7,773.2 385.7,772.3 435.3,855.5 ")
	polygon.st431(points="429.8,860.7 435.3,855.5 380.7,773.2 ")
	polygon.st432(points="421.5,889.7 429.8,860.7 380.7,773.2 ")
	polygon.st433(points="361.8,778.5 380.7,773.2 421.5,889.7 ")
	polygon.st434(points="402.2,915.1 421.5,889.7 361.8,778.5 ")
	polygon.st435(points="314,811.3 361.8,778.5 402.2,915.1 ")
	polygon.st436(points="340.2,915.1 402.2,915.1 314,811.3 ")
	polygon.st437(points="284.7,915.1 314,811.3 340.2,915.1 ")
	polygon.st438(points="268.1,807.5 314,811.3 284.7,915.1 ")
	polygon.st439(points="235.5,915.1 268.1,807.5 284.7,915.1 ")
	polygon.st440(points="209.8,865.8 268.1,807.5 235.5,915.1 ")
	polygon.st441(points="190.3,825.3 268.1,807.5 209.8,865.8 ")
	polygon.st442(points="201.2,915.1 209.8,865.8 235.5,915.1 ")
	polygon.st443(points="144.7,864.8 209.8,865.8 201.2,915.1 ")
	polygon.st444(points="92.7,915.1 144.7,864.8 201.2,915.1 ")
	polygon.st445(points="91.5,828 190.3,825.3 209.8,865.8 ")
	polygon.st446(points="144.7,864.8 91.5,828 209.8,865.8 ")
	polygon.st447(points="92.7,915.1 91.5,828 144.7,864.8 ")
	path.st418(d="M0,915.1c0.7,0,21.8-49.3,21.8-49.3l70.8,49.3H0z")
	polygon.st448(points="39,824.2 92.7,915.1 21.8,865.8 ")
	polygon.st449(points="91.5,828 92.7,915.1 39,824.2 ")
	polygon.st450(points="190.3,825.3 42.2,757 60,696.7 ")
	polygon.st451(points="91.5,828 42.2,757 190.3,825.3 ")
	polygon.st452(points="39,824.2 42.2,757 91.5,828 ")
	polygon.st453(points="879.2,623.5 677.5,797.2 693.3,915.1 ")
	polygon.st454(points="917.6,665.7 879.2,623.5 693.3,915.1 ")
	polygon.st455(points="917.6,792 917.6,665.7 693.3,915.1 ")
	polygon.st456(points="917.6,915.1 917.6,792 693.3,915.1 ")
	polygon.st149(points="471.8,285.1 473.3,291.4 445.7,312.6 ")
	polygon.st134(points="469.2,259.3 497.1,264.3 470.7,279.3 ")
	polygon.st457(points="583.3,359.8 599.5,410.8 605.5,388.2 ")
	polygon.st458(points="406.5,443 403.2,472.4 413,472.4 ")
	polygon.st37(points="179.3,243.8 202.8,294.5 210.3,246.8 ")
	polygon.st243(points="413,472.4 453.2,483.6 414.8,483.2 ")
	polygon.st414(points="421.5,889.7 435.3,880.2 440,915.1 ")
