svg(version="1.1" id="first" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 560 560" style="enable-background:new 0 0 960 560;" xml:space="preserve")
	g#first-group
		polygon.st0(points="246.3,102 274.8,15.7 232,31.3 ")
		polygon.st1(points="274.8,15.7 310.7,15.7 246.3,102 ")
		polygon.st2(points="310.7,15.7 340.7,22.5 246.3,102 ")
		polygon.st3(points="340.7,22.5 246.3,102 375.1,40.9 ")
		polygon.st4(points="375.1,40.9 279.2,115.7 246.3,102 ")
		polygon.st5(points="232,31.3 246.3,102 214.6,108.1 ")
		polygon.st6(points="232,31.3 210.6,59.3 214.6,108.1 ")
		polygon.st7(points="232,31.3 198.2,51.4 210.6,59.3 ")
		polygon.st8(points="198.2,51.4 188.9,104.6 210.6,59.3 ")
		polygon.st9(points="210.6,59.3 188.9,104.6 214.6,108.1 ")
		polygon.st10(points="198.2,51.4 176,92.3 188.9,104.6 ")
		polygon.st11(points="176,92.3 170.6,163.6 188.9,104.6 ")
		polygon.st12(points="188.9,104.6 170.6,163.6 184.7,178 ")
		polygon.st13(points="188.9,104.6 184.7,178 214.6,108.1 ")
		polygon.st14(points="214.6,108.1 246.3,102 211.5,187.4 ")
		polygon.st15(points="214.6,108.1 184.7,178 211.5,187.4 ")
		polygon.st16(points="246.3,102 211.5,187.4 238,191.7 ")
		polygon.st17(points="246.3,102 238,191.7 248.4,168.5 ")
		polygon.st18(points="262.1,156.5 248.4,168.5 246.3,102 ")
		polygon.st19(points="279.2,115.7 262.1,156.5 246.3,102 ")
		polygon.st20(points="279.2,115.7 287.5,140.3 262.1,156.5 ")
		polygon.st21(points="279.2,115.7 375.1,40.9 412.1,75.3 ")
		polygon.st22(points="279.2,115.7 287.5,140.3 412.1,75.3 ")
		polygon.st23(points="287.5,140.3 276,175.9 262.1,156.5 ")
		polygon.st24(points="287.5,140.3 315.1,140.3 276,175.9 ")
		polygon.st25(points="315.1,140.3 354.8,147.6 276,175.9 ")
		polygon.st26(points="276,175.9 354.8,147.6 330,176.9 ")
		polygon.st27(points="354.8,147.6 362.3,158.4 330,176.9 ")
		polygon.st28(points="362.3,158.4 356.3,189.1 330,176.9 ")
		polygon.st29(points="412.1,75.3 287.5,140.3 315.1,140.3 ")
		polygon.st30(points="315.1,140.3 412.1,75.3 354.8,147.6 ")
		polygon.st31(points="354.8,147.6 412.1,75.3 362.3,158.4 ")
		polygon.st32(points="362.3,158.4 412.1,75.3 425,95.7 ")
		polygon.st33(points="362.3,158.4 425,95.7 370.5,171 ")
		polygon.st34(points="362.3,158.4 370.5,171 356.3,189.1 ")
		polygon.st35(points="370.5,171 370.6,190.1 356.3,189.1 ")
		polygon.st36(points="356.3,189.1 330,176.9 321.7,185.8 ")
		path.st37(d="M330,176.9c-0.2-0.1-8.3,8.9-8.3,8.9l-40.1-4.1L330,176.9z")
		polygon.st38(points="330,176.9 281.6,181.6 276,175.9 ")
		polygon.st39(points="276,175.9 281.6,181.6 269,186.6 ")
		polygon.st40(points="281.6,181.6 294.8,185.6 269,186.6 ")
		polygon.st41(points="262.1,156.5 276,175.9 269,186.6 ")
		polygon.st42(points="262.1,156.5 269,186.6 248.4,168.5 ")
		polygon.st43(points="248.4,168.5 269,186.6 261.1,197.6 ")
		polygon.st44(points="248.4,168.5 261.1,197.6 238,191.7 ")
		polygon.st45(points="269,186.6 277.2,193.9 261.1,197.6 ")
		polygon.st46(points="269,186.6 294.8,185.6 277.2,193.9 ")
		polygon.st47(points="294.8,185.6 310.3,197.9 277.2,193.9 ")
		polygon.st48(points="294.8,185.6 321.7,185.8 310.3,197.9 ")
		polygon.st49(points="321.7,185.8 336.1,198.8 310.3,197.9 ")
		polygon.st50(points="321.7,185.8 336.1,198.8 346,198 ")
		polygon.st51(points="321.7,185.8 356.3,189.1 346,198 ")
		polygon.st52(points="356.3,189.1 346,198 370,208 ")
		polygon.st53(points="356.3,189.1 370.6,190.1 370,208 ")
		polygon.st54(points="370,208 371.9,223.7 346,198 ")
		polygon.st55(points="346,198 346,239.6 371.9,223.7 ")
		polygon.st56(points="346,198 338.3,212.1 336.1,198.8 ")
		polygon.st57(points="336.1,198.8 314,214.9 338.3,212.1 ")
		polygon.st58(points="336.1,198.8 314,214.9 310.6,204.9 ")
		polygon.st59(points="336.1,198.8 310.6,204.9 310.3,197.9 ")
		polygon.st60(points="277.2,193.9 310.3,197.9 310.6,204.9 ")
		polygon.st61(points="277.2,193.9 310.6,204.9 314,214.9 ")
		polygon.st62(points="261.1,197.6 277.2,193.9 314,214.9 ")
		polygon.st63(points="314,214.9 325.7,245.7 261.1,197.6 ")
		polygon.st64(points="314,214.9 338.3,212.1 325.7,245.7 ")
		polygon.st65(points="338.3,212.1 346,198 346,239.6 ")
		polygon.st66(points="338.3,212.1 325.7,245.7 346,239.6 ")
		polygon.st67(points="261.1,197.6 283,286.8 325.7,245.7 ")
		polygon.st68(points="238,191.7 261.1,197.6 230.8,219.7 ")
		polygon.st69(points="238,191.7 210.5,219.8 211.5,187.4 ")
		polygon.st70(points="238,191.7 230.8,219.7 210.5,219.8 ")
		polygon.st71(points="211.5,187.4 210.5,219.8 202,207.2 ")
		polygon.st72(points="201.3,184.2 211.5,187.4 202,207.2 ")
		polygon.st73(points="201.3,184.2 186.3,193.6 202,207.2 ")
		polygon.st74(points="184.7,178 201.3,184.2 186.3,193.6 ")
		polygon.st75(points="184.7,178 179,190.8 186.3,193.6 ")
		polygon.st76(points="169.7,171.9 184.7,178 170.6,163.6 ")
		polygon.st77(points="169.7,171.9 184.7,178 179,190.8 ")
		polygon.st78(points="169.7,171.9 169.9,186 179,190.8 ")
		polygon.st79(points="169.9,186 179,190.8 175.2,209.9 ")
		polygon.st80(points="179,190.8 175.2,209.9 183,209 ")
		polygon.st81(points="425,95.7 370.5,171 401.7,148 ")
		polygon.st82(points="425,95.7 401.7,148 422.7,136.3 ")
		polygon.st83(points="425,95.7 422.7,136.3 434.2,130 ")
		polygon.st84(points="401.7,148 370.5,171 370.6,190.1 ")
		polygon.st85(points="370.6,190.1 401.7,148 383.5,188.9 ")
		polygon.st86(points="401.7,148 422.7,136.3 383.5,188.9 ")
		polygon.st87(points="422.7,136.3 383.5,188.9 419.4,169.1 ")
		polygon.st88(points="422.7,136.3 434.2,130 419.4,169.1 ")
		polygon.st89(points="434.2,130 423.8,187.5 419.4,169.1 ")
		polygon.st90(points="434.2,130 423.8,187.5 434.6,167.3 ")
		polygon.st91(points="419.4,169.1 408.6,184.5 423.8,187.5 ")
		polygon.st92(points="419.4,169.1 408.6,184.5 383.5,188.9 ")
		polygon.st93(points="408.6,184.5 420.1,195.6 423.8,187.5 ")
		polygon.st94(points="408.6,184.5 420.1,195.6 398.6,194.7 ")
		polygon.st95(points="408.6,184.5 398.6,194.7 383.5,188.9 ")
		polygon.st96(points="383.5,188.9 398.6,194.7 386.6,195 ")
		path.st97(d="M383.5,188.9c0,0-10.7,11.5-10.7,11s-2.2-9.8-2.2-9.8L383.5,188.9z")
		path.st98(d="M372.8,199.9c-0.3-0.8,10.7-11,10.7-11l3.1,6L372.8,199.9z")
		polygon.st99(points="398.6,194.7 407.7,200.9 420.1,195.6 	")
		polygon.st100(points="420.1,195.6 412.7,211.1 407.7,200.9 	")
		polygon.st101(points="407.7,200.9 390.4,209.5 398.6,194.7 	")
		polygon.st102(points="407.7,200.9 412.7,211.1 390.4,209.5 	")
		polygon.st103(points="386.6,195 398.6,194.7 390.4,209.5 	")
		polygon.st104(points="386.6,195 390.4,209.5 372.8,199.9 	")
		polygon.st105(points="372.8,199.9 370,208 390.4,209.5 	")
		polygon.st106(points="390.4,209.5 393.2,218.2 370,208 	")
		polygon.st107(points="390.4,209.5 412.7,211.1 393.2,218.2 	")
		polygon.st108(points="370,208 371.9,223.7 393.2,218.2 	")
		path.st109(d="M393.2,218.2c0.6,0,19.5-7.1,19.5-7.1l-1.2,25L393.2,218.2z")
		polygon.st110(points="393.2,218.2 376.6,248.3 371.9,223.7 	")
		path.st111(d="M393.2,218.2c0,0,4.7,51.1,5.2,50.3s13.1-32.4,13.1-32.4L393.2,218.2z")
		polygon.st112(points="393.2,218.2 398.4,268.5 376.6,248.3 	")
		path.st113(d="M371.9,223.7c0,0-13,34.9-12.8,34.9c0.2-0.1,17.5-10.3,17.5-10.3L371.9,223.7z")
		polygon.st114(points="371.9,223.7 346,239.6 359.2,258.5 ")
		polygon.st115(points="346,239.6 347.1,261.7 359.2,258.5 ")
		polygon.st116(points="359.2,258.5 376.6,248.3 382.1,262 ")
		polygon.st117(points="376.6,248.3 398.4,268.5 382.1,262 ")
		polygon.st118(points="398.4,268.5 377.8,270.2 382.1,262 ")
		polygon.st119(points="377.8,270.2 358.7,269.9 382.1,262 ")
		polygon.st120(points="382.1,262 347.1,261.7 358.7,269.9 ")
		polygon.st121(points="325.7,245.7 346,239.6 347.1,261.7 ")
		polygon.st122(points="325.7,245.7 323.2,262.4 335,262 ")
		polygon.st123(points="325.7,245.7 347.1,261.7 335,262 ")
		path.st124(d="M323.2,262.4c0,0-34,31.9-33.7,31.2s36.1-47.9,36.1-47.9L323.2,262.4z")
		polygon.st125(points="325.7,245.7 289.5,293.6 283,286.8 ")
		polygon.st126(points="289.5,293.6 309.4,293.6 323.2,262.4 ")
		polygon.st127(points="323.2,262.4 330.5,269.2 309.4,293.6 ")
		polygon.st128(points="330.5,269.2 340.5,294 309.4,293.6 ")
		polygon.st129(points="330.5,269.2 349.9,283.1 340.5,294 ")
		polygon.st130(points="330.5,269.2 349.1,269.3 349.9,283.1 ")
		polygon.st131(points="349.1,269.3 356.4,277.2 349.9,283.1 ")
		polygon.st132(points="323.2,262.4 330.5,269.2 349.1,269.3 ")
		polygon.st133(points="323.2,262.4 347.1,261.7 349.1,269.3 ")
		line.st133(x1="349.1" y1="269.3" x2="358.7" y2="269.9")
		path.st134(d="M349.1,269.3c0.3-0.1,9.6,0.6,9.6,0.6l-2.4,7.3L349.1,269.3z")
		polygon.st135(points="358.7,269.9 356.4,277.2 364.9,278.9 	")
		polygon.st136(points="358.7,269.9 377.8,270.2 364.9,278.9 	")
		polygon.st137(points="377.8,270.2 364.9,278.9 385.3,303.7 	")
		polygon.st138(points="377.8,270.2 385.3,303.7 398.4,268.5 	")
		polygon.st139(points="364.9,278.9 358.5,297.2 349.9,283.1 	")
		path.st140(d="M364.9,278.9c0,0-15.2,4.4-14.9,4.2s6.4-6,6.4-6L364.9,278.9z")
		polygon.st141(points="364.9,278.9 370.1,298.4 358.5,297.2 ")
		polygon.st142(points="364.9,278.9 370.1,298.4 385.3,303.7 ")
		polygon.st143(points="385.3,303.7 373,307.5 370.7,330.2 ")
		polygon.st144(points="349.9,283.1 340.5,294 346.7,298.5 ")
		polygon.st145(points="349.9,283.1 346.7,298.5 358.5,297.2 ")
		path.st139(d="M360.1,298.6")
		polygon.st146(points="230.8,219.7 261.1,197.6 283,286.8 ")
		polygon.st147(points="230.8,219.7 227.2,235.2 210.5,219.8 ")
		polygon.st148(points="230.8,219.7 255.1,301.9 283,286.8 ")
		polygon.st149(points="230.8,219.7 227.2,235.2 255.1,301.9 ")
		polygon.st150(points="210.5,219.8 211.6,241.6 227.2,235.2 ")
		polygon.st151(points="227.2,235.2 212.4,275 211.6,241.6 ")
		polygon.st152(points="221,297.1 255.1,301.9 227.2,235.2 ")
		polygon.st153(points="212.4,275 221,297.1 227.2,235.2 ")
		polygon.st154(points="211.6,241.6 185.8,263.2 212.4,275 ")
		polygon.st155(points="211.6,241.6 185.8,263.2 195.1,242.8 ")
		path.st156(d="M210.5,219.8l-15.4,23c0,0,16.3-0.2,16.5-1.2S210.5,219.8,210.5,219.8z")
		polygon.st157(points="210.5,219.8 184.1,230.9 195.1,242.8 ")
		path.st158(d="M210.5,219.8l-20.2-5.2c0,0-6.9,16.5-6.2,16.3C184.9,230.7,210.5,219.8,210.5,219.8z")
		polygon.st159(points="184.1,230.9 181.1,250.6 195.1,242.8 ")
		polygon.st160(points="181.1,250.6 185.8,263.2 195.1,242.8 ")
		polygon.st161(points="181.1,250.6 178.5,259.5 185.8,263.2 ")
		path.st162(d="M175.2,209.9c-0.5,2.9,5.9,40.7,5.9,40.7l3-19.7L175.2,209.9z")
		polygon.st163(points="175.2,209.9 183,209 184.1,230.9 ")
		polygon.st164(points="183,209 184.1,230.9 190.3,214.6 ")
		polygon.st165(points="179,190.8 183,209 186.3,193.6 ")
		polygon.st166(points="186.3,193.6 190.3,214.6 183,209 ")
		path.st167(d="M186.3,193.6c0.1,0.2,5.4,14.8,5.4,14.8l10.3-1.2L186.3,193.6z")
		polygon.st168(points="191.7,208.4 190.3,214.6 210.5,219.8 ")
		polygon.st169(points="191.7,208.4 210.5,219.8 202,207.2 ")
		path.st170(d="M283,286.8l-28,15.1c0,0,26.7,8,26.8,7.5S283,286.8,283,286.8z")
		polygon.st171(points="283,286.8 281.9,309.4 289.5,293.6 ")
		polygon.st172(points="289.5,293.6 309.4,293.6 311.2,299.3 ")
		path.st173(d="M289.5,293.6l21.6,5.7c0,0-4.6,14.2-4.6,13.3S289.5,293.6,289.5,293.6z")
		polygon.st174(points="289.5,293.6 281.9,309.4 306.5,312.6 ")
		path.st175(d="M311.2,299.3c-0.3-0.2-1.7-5.7-1.7-5.7l31.1,0.4L311.2,299.3z")
		polygon.st176(points="340.5,294 311.2,299.3 346.7,298.5 	")
		polygon.st177(points="346.7,298.5 345.5,308.8 311.2,299.3 	")
		polygon.st178(points="311.2,299.3 306.5,312.6 345.5,308.8 	")
		polygon.st179(points="346.7,298.5 373,307.5 345.5,308.8 	")
		polygon.st180(points="346.7,298.5 370.1,298.4 373,307.5 	")
		polygon.st181(points="370.1,298.4 385.3,303.7 373,307.5 	")
		polygon.st139(points="373,307.5 345.5,308.8 373,307.5 	")
		polygon.st182(points="373,307.5 360.3,323.7 345.5,308.8 	")
		polygon.st183(points="345.5,308.8 340.4,326.3 360.3,323.7 	")
		polygon.st184(points="345.5,308.8 340.4,326.3 320.1,321.3 	")
		polygon.st185(points="345.5,308.8 320.1,321.3 306.5,312.6 	")
		polygon.st186(points="373,307.5 360.3,323.7 370.7,330.2 	")
		polygon.st187(points="360.3,323.7 370.7,330.2 354,334 	")
		polygon.st188(points="360.3,323.7 354,334 340.4,326.3 	")
		polygon.st189(points="340.4,326.3 319,331.6 354,334 	")
		path.st190(d="M340.4,326.3c0,0-21.5,5.6-21.4,5.3s1.2-10.3,1.2-10.3L340.4,326.3z")
		polygon.st191(points="320.1,321.3 319,331.6 306.5,312.6 	")
		path.st192(d="M306.5,312.6c0,0.6-3.7,19.3-3.4,19.3s15.9-0.3,15.9-0.3L306.5,312.6z")
		path.st193(d="M319,331.6c1.1,0.2,26.6,11.3,26.6,11.3l8.4-8.9L319,331.6z")
		path.st194(d="M354,334c0,0,0.2,24.3,0.4,24s16.3-27.8,16.3-27.8L354,334z")
		polygon.st195(points="354,334 345.6,342.9 354.4,358 ")
		polygon.st196(points="345.6,342.9 338.3,368.8 354.4,358 ")
		polygon.st197(points="345.6,342.9 319.5,352.4 338.3,368.8 ")
		polygon.st198(points="319.5,352.4 300,368.2 338.3,368.8 ")
		polygon.st199(points="319,331.6 345.6,342.9 319.5,352.4 ")
		polygon.st200(points="319,331.6 303.1,331.9 319.5,352.4 ")
		polygon.st201(points="303.1,331.9 289.4,345.5 319.5,352.4 ")
		path.st202(d="M289.4,345.5c0.1,0.3,10.6,22.7,10.6,22.7l19.6-15.8L289.4,345.5z")
		polygon.st203(points="281.9,309.4 306.5,312.6 303.1,331.9 ")
		polygon.st204(points="281.9,309.4 303.1,331.9 289.4,345.5 ")
		polygon.st205(points="281.9,309.4 255.1,301.9 289.4,345.5 ")
		polygon.st206(points="255.1,301.9 254,331 289.4,345.5 ")
		polygon.st207(points="255.1,301.9 221,297.1 254,331 ")
		polygon.st138(points="221,297.1 242.8,347 254,331 ")
		polygon.st208(points="254,331 289.4,345.5 300,368.2 ")
		polygon.st209(points="254,331 242.8,347 300,368.2 ")
		polygon.st210(points="242.8,347 300,368.2 263.7,387.5 ")
		polygon.st211(points="300,368.2 263.7,387.5 295.7,387.8 ")
		polygon.st212(points="295.7,387.8 281.1,405.7 263.7,387.5 ")
		polygon.st213(points="295.7,387.8 281.1,405.7 314.9,409.8 ")
		polygon.st214(points="281.1,405.7 317,434.1 314.9,409.8 ")
		polygon.st215(points="281.1,405.7 305.2,451.4 317,434.1 ")
		polygon.st216(points="281.1,405.7 273.1,420.3 305.2,451.4 ")
		polygon.st217(points="281.1,405.7 263.7,387.5 261.6,441.1 ")
		polygon.st218(points="273.1,420.3 261.6,441.1 305.2,451.4 ")
		polygon.st219(points="263.7,387.5 240.9,406.6 261.6,441.1 ")
		polygon.st220(points="242.8,347 240.9,406.6 263.7,387.5 ")
		polygon.st221(points="221,297.1 201.5,318.2 242.8,347 ")
		polygon.st222(points="201.5,318.2 240.9,406.6 242.8,347 ")
		polygon.st223(points="185.8,263.2 183,274.6 212.4,275 ")
		polygon.st224(points="183,274.6 212.4,275 221,297.1 ")
		polygon.st225(points="183,274.6 201.5,318.2 221,297.1 ")
		polygon.st226(points="179.3,266.6 183,274.6 143.7,308.6 ")
		polygon.st227(points="183,274.6 143.7,308.6 201.5,318.2 ")
		path.st228(d="M143.7,308.6c0,0,30,73.8,30.4,73.4c0.4-0.4,27.4-63.7,27.4-63.7L143.7,308.6z")
		polygon.st229(points="143.7,308.6 49.1,359.3 174.1,381.9 	")
		polygon.st230(points="174.1,381.9 201.5,318.2 240.9,406.6 	")
		polygon.st231(points="240.9,406.6 207.5,445.3 174.1,381.9 	")
		path.st232(d="M207.5,445.3c0.4-0.4,33.4-38.7,33.4-38.7l20.7,34.4L207.5,445.3z")
		path.st233(d="M207.5,445.3c0.7,0,54.1-4.3,54.1-4.3l-26.7,31.2L207.5,445.3z")
		path.st232(d="M261.6,441.1l-26.7,31.2c0,0,33.9-15.7,34.1-15.9C269.1,456.1,261.6,441.1,261.6,441.1z")
		polygon.st234(points="261.6,441.1 305.2,451.4 268.9,456.4 	")
		path.st235(d="M268.9,456.4c0,0,36.3-5.2,36.3-4.9c0,0.3,6.3,22.2,6.3,22.2L268.9,456.4z")
		polygon.st236(points="268.9,456.4 311.5,473.6 280.4,479.8 ")
		polygon.st237(points="234.8,472.3 280.4,479.8 268.9,456.4 ")
		polygon.st238(points="280.4,479.8 311.5,473.6 275.3,525.5 ")
		polygon.st239(points="280.4,479.8 234.8,472.3 275.3,525.5 ")
		polygon.st240(points="311.5,473.6 305.1,560 275.3,525.5 ")
		polygon.st241(points="311.5,473.6 334,559 305.1,560 ")
		polygon.st242(points="275.3,525.5 305.1,560 243.9,560 ")
		polygon.st243(points="275.3,525.5 243.9,560 188.4,484.5 ")
		polygon.st244(points="275.3,525.5 234.8,472.3 188.4,484.5 ")
		polygon.st245(points="188.4,484.5 243.9,560 178.8,560 ")
		polygon.st246(points="188.4,484.5 172.7,500.6 178.8,560 ")
		polygon.st247(points="188.4,484.5 143.4,469.3 172.7,500.6 ")
		polygon.st248(points="188.4,484.5 234.8,472.3 207.5,445.3 ")
		path.st249(d="M207.5,445.3c0,0-64.7,24-64,24s45,15.2,45,15.2L207.5,445.3z")
		polygon.st250(points="143.4,469.3 172.7,500.6 1.8,558.2 	")
		polygon.st251(points="172.7,500.6 1.8,558.2 178.8,560 	")
		polygon.st252(points="59.2,443.6 1.8,558.2 143.4,469.3 	")
		polygon.st253(points="143.4,469.3 59.2,443.6 49.1,359.3 	")
		polygon.st254(points="143.4,469.3 174.1,381.9 207.5,445.3 	")
		polygon.st255(points="174.1,381.9 49.1,359.3 143.4,469.3 	")
		polygon.st256(points="49.2,359.5 0.1,395.6 1,461.1 	")
		path.st257(d="M49.1,359.3c0,0-48.7,100.8-48.2,101.5c0.5,0.7,58.3-17.2,58.3-17.2L49.1,359.3z")
		polygon.st258(points="0.9,460.8 59.2,443.6 1.8,558.2 	")
		polygon.st169(points="186.3,193.6 191.7,208.4 190.3,214.6 	")
		polygon.st59(points="281.6,181.6 294.8,185.6 321.7,185.8 	")
		polygon.st53(points="370.6,190.1 370,208 372.8,199.9 	")
		polygon.st120(points="359.2,258.5 382.1,262 347.1,261.7 ")
		polygon.st141(points="347.1,261.7 349.1,269.3 358.7,269.9 ")
		polygon.st179(points="358.5,297.2 370.1,298.4 346.7,298.5 ")
		polygon.st179(points="349.9,283.1 358.5,297.2 364.9,278.9 ")
