@import bourbon

/*==========  Desktop First Method  ==========*/
@media only screen and(max-width : 1366px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and(max-width : 1200px) 
	#portfolio .site-item .site-descr 
		width: 33%

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.grid
		.blog-grid
			height: 126px
			&:nth-child(2),
			&:nth-child(4)
				height: 263px

	#skill
		.icon-list
			max-width: 600px
			margin: 0 auto
		.text_block
			text-align: center
		.sli-item
			.task-list
				max-width: 400px
				text-align: left
				margin: 0 auto

	#portfolio,#sli-wrap
		.site-item 
			.wrap_prew 
				.prew
					min-height: 300px
		.monitor
			.monitor
				height: 240px


	#blog
		padding-bottom: 30px
		.blog-item
			max-width: 600px
			&:before
				display: none!important
			.site-screen,
			.site-descr
				position: initial!important
				width: 100%!important
				.img_wrap
					max-height: 335px!important
	#about 
		.resume-block 
			.resume-item
				min-width: 400px
		.aside
			min-height: auto!important


	.site-item 
		text-align: center
		margin-bottom: 30px
		&:nth-child(even) .wrap_prew 
			float: none
		
	
	.footLamp 
		display: none
	
	.kino 
		bottom: -150px
	
	footer ul 
		margin-top: 0
		margin-bottom: 45px
	
	.lamp_wrap svg 
		height: 255px
	
	.open_mnu .header_wrap 		
		transform: rotateY(35deg)
	
	#portfolio .site-item .site-descr 
		width: 100%
	
	#blog .blog-item 
		margin-bottom: 30px
		&:before 
			left: 0		
		.site-descr 
			padding-top: 20px		
		> div 
			display: block
			width: 100%		
		&:hover:before 
			width: 100%
		
	
	.data-block .date 
		margin-left: -80px
		top: -40px
		left: 100%



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	header
		&.inner
			z-index: 100
			overflow: visible
			.search-button 
				right: 0
				span
					border-color: $main
					&:last-child
						background-color: $main
			nav 
				position: absolute
				top: 60px
				left: 0
				width: 100%
				z-index: 10				
				ul
					li
						width: 100%
						display: none
						background-color: $blackLight
						padding: 0 20px
						&:before
							right: 10px
			.toggle_but
				display: block
	footer
		padding-bottom: 0px
		.footer-wrap
			padding-bottom: 120px
		.copy
			height: 120px
			overflow: visible
			line-height: 30px
			text-align: center
			.dev
				right: 50%	
				margin-right: -75px
				footer 
		ul 
			margin-bottom: 0	

	#send 
		padding: 0 10px


	.grid
		.blog-grid
			width: 100%
			max-width: 480px
			height: auto!important
			position: relative!important
			margin: 5px auto
			top: initial!important
	
	#portfolio,#sli-wrap
		.site-item
			>div
				width: 100%
				margin: 0 auto
				display: block
				max-width: 360px
				float: none
			.wrap_prew 
				.port_wrap 
					.active
						>span
							margin: 10px 5px
	.monitor 
		.monitor
			height: 240px
			min-height: 100px
			min-width: 220px
			width: 100%
	.phoneW
		.monitor
			width: 100%
			max-width: 215px
		.cont
			height: 89%
	.ipod 
		.monitor
			min-width: 100%
			width: 100%
			&:before
				right: -webkit-calc(2.5% - 5px)
				right: calc(2.5% - 5px)
			.cont
				top: 4.5%
				left: 5%
				width: 88%
			.stand_bot				
				bottom: 30%
				left: 1.5%
				height: 40%
				width: 5px
				background-color: $white
			.stand
				width: 0

	section.black_section 
		.site-descr.centr 
			p:after
				bottom: 0

	.bread
		text-align: center
	#about
		z-index: -1

	div#da-thumbs
		min-height: 1290px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	header 
		&.open_mnu .header_wrap
			@include transform(rotateY(65deg))
		h1 
			width: 300px
			margin-left: -150px
			margin-top: -85px
			font-size: 40px
			line-height: 40px
			text-align: center		
		.prof 
			width: 300px
			margin-left: -150px
			font-size: 18px		
		nav 
			right: 5px
			li a 
				font-size: 20px
	.button_down 
		width: 45px
		height: 45px
		line-height: 45px
		margin-left: -2px	
	.lamp_wrap svg 
		height: 75px	
	.open_mnu .header_wrap 
		transform: rotateY(60deg)

	.title-left,
	.blog-inner .label	
		text-align: center
	.blog-inner
		p
			img
				float: none				
				display: block
				margin: 10px auto	
	footer
		padding-top: 40px

		
	section.black_section
		margin-top: 30px!important
		margin-bottom: 30px!important
		padding: 40px 0
		&:after,&:before
			display: none
	
	
	#skill
		.icon-list li
			font-size: 50px
		svg
			height: 310px
		.sli-item
			.leng_wrap
				margin-top: 100px
				.leng 
					h3
						display: none
		#sli-block:hover 
			.sli-next
				right: 0
			.sli-prew
				left: 0


	// #portfolio 
	// 	.site-item
	// 		>div
	// 			width: 100%
	// 		.prew,
	// 		.iphone .monitor
	// 			min-height: 200px
	// 		.monitor
	// 			width: 100%
	// 		.monitor .monitor
	// 			min-width: 260px
	// 	.iphone .monitor
	// 		height: 245px	
	#portfolio,#sli-wrap
		.monitor 
			.monitor
				height: 200px
				.cont
					height: 87%

	.portfolio-inner
		.shadow-block
			position: initial
			transform: none
			height: 450px
			.site-screen
				height: 450px
			.mouse				
				top: 100%
				right: 50%
				margin-right: -45px
				margin-top: -81px
				background-color: $blackLight
				border-top-left-radius: 55px
				border-top-right-radius: 55px
				padding-top: 5px				
				svg#mouse 
					path, polyline
						stroke: $white


	.last-portfolio
		margin-top: 30px
		.col-md-4
			min-height: 100px
			.site-descr
				position: initial
				padding-left: 0
		.site-item
			min-height: 100px

	.black_section.contacts
		margin-bottom: -30px!important
	
	.last-portfolio
		#sli-wrap 
			.site-item
				margin: 0 -15px
				.wrap_prew 
					margin-top: 20px
					.prew
						min-height: 250px
					.port_wrap 
						position: initial
						.active
							>span
								display: inline-block!important
								margin: 5px 3px	
	#about 
		.resume-block 
			.resume-item
				width: 100%
				&.portfol
					width: 100%
				&.skill-block
					width: 100%
					.progres
						width: 60%
						right: 60px
	

	
			





/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/