//colors
$greyLight: #999;
$blackLight: #111;
$color_storm_dust_approx: #666;
$color_dune_approx: #383535;
$color_cod_gray_approx: #080808;
$main: #2cbc99
$green: green
$white: #fff
$red: #f00
$black: #000
$grey: #ccc

//fonts
$font_0: OpenSansRegular;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;
$font_4: BebasNeueBold;
$font_5: OpenSansBold;
$font_6: tech-icon!important;

//urls
$url_0: url(../img/top_bg.jpg);
$url_1: url(../img/film1.jpg);
$url_2: url(../img/footLampLeft.png);
$url_3: url(../img/footLampRight.png);
$url_4: url(../img/footLightLeft.png);
$url_5: url(../img/footLightRight.png);
$url_6: url(../img/svg/prog.svg);
