@import bourbon
@import _vars.sass
@import _mixins.sass

$yelow: #ffce55
$green: #48cfae

$darkBlue: #7282a4

%gradient
	background: #1a3b99
	background: -moz-radial-gradient(center, ellipse cover, #1a3b99 19%, #090b24 100%)
	background: -webkit-radial-gradient(center, ellipse cover, #1a3b99 19%,#090b24 100%)
	background: radial-gradient(ellipse at center, #1a3b99 19%,#090b24 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a3b99', endColorstr='#090b24',GradientType=1 )

%card-gradient
	background: rgb(16,29,79)
	background: -moz-linear-gradient(45deg, rgba(16,29,79,1) 0%, rgba(72,207,174,1) 100%)
	background: -webkit-linear-gradient(45deg, rgba(16,29,79,1) 0%,rgba(72,207,174,1) 100%)
	background: linear-gradient(45deg, rgba(16,29,79,1) 0%,rgba(72,207,174,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101d4f', endColorstr='#48cfae',GradientType=1 )


// body
// 	color: $white!important
menu
	margin: 0
	padding: 0
	position: fixed
	top: 0
	left: 0
	width: 100%
	text-align: center
	z-index: 1000
	transition: all 0.3s
	&.active
		background-color: $white
		box-shadow: 0 0 3px #666
	ul
		li
			display: inline-block			
			vertical-align: top
			a
				display: block
				padding: 5px 10px
				line-height: 30px
	span.raketa
		position: absolute
		// bottom: -33px
		bottom: -17px
		transform: rotate(-90deg)
		left: 0px
		transition: all 0.5s
		&:before
			position: absolute
			content: ''
			bottom: 3px
			left: -32px
			width: 40px
			height: 40px
			background-repeat: no-repeat
			transform: rotate(-90deg)
		&.active
			&:before
				background-size: 35px
				background-image: url("../img/game/burnin.gif")
		img
			transform: rotate(130deg)

	

header
	height: 100vh
	@extend %gradient
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-image: url("../img/game/top_bg.png")
		background-repeat: no-repeat
		background-position: center center
		background-attachment: fixed
	h1
		font-family: 'OpenSansLight'
		color: $white
		line-height: 45px
		text-shadow: none
		margin: 0
		padding: 0
		top: 20%
		left: 20%
		letter-spacing: 0
		width: auto
		span
			font-family: 'fantasy'
			font-size: 60px
			letter-spacing: 40px
		p
			display: inline-block
			margin-top: 15px
			padding-top: 5px
			border-top: 1px solid $darkBlue
			color: $darkBlue
			font-size: 20px
			line-height: 30px
			min-width: 245px
			i
				margin-right: 15px
	
	h2
		position: absolute
		bottom: 85px
		right: 7%
		font-size: 30px
		line-height: 30px
		text-transform: uppercase
		color: $white
		span
			font-family: 'fantasy'
			letter-spacing: 6px
	.core
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		width: 180px
		height: 180px
		z-index: 100
		.image-wrap
			position: absolute
			top: 56px
			left: 56px
			border-radius: 50%
			width: 70px
			overflow: hidden
			animation: rotationsFirst 60s 0s infinite linear
			img
				width: 100%
		.borders
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-radius: 50%
			border: 2px dashed $grey
			border-top: 1px solid #666c7a
			z-index: 10
			background-image: url("../img/game/asteroid.png")
			background-size: contain
			background-repeat: no-repeat
			background-position: center center
			animation: rotationsSecond 60s 0s infinite linear
			&:before
				position: absolute
				content: ''
				top: 10%
				left: 10%
				border-radius: 50%
				width: 80%
				height: 80%
				border: 2px dashed $green
				border-bottom: 1px solid $yelow
				z-index: -1
		.shatle
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			&:before
				position: absolute
				content: ''
				top: 50px
				left: 0px
				width: 105px
				height: 2px
				border-bottom: 2px solid #666c7a
				transform: rotate(45deg)
			img
				position: absolute
				top: -10px
				left: 0
				transform: rotate(98deg)

	.hexagon-list
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		z-index: 1
		img
			position: absolute
			&.small
				width: 25px
			&.normal
				width: 32px
			&.big
				width: 50px
			&:nth-child(1)
				top: 15%
				left: 20%
			&:nth-child(2)
				top: 40%
				left: 12%
			&:nth-child(3)
				top: 75%
				left: 17%
			&:nth-child(4)
				top: 60%
				left: 80%
			&:nth-child(5)
				top: 20%
				left: 85%
			&:nth-child(6)
				top: 80%
				left: 65%

.market-link
	a
		display: inline-block
		padding-right: 5px
		img
			max-width: 135px


.base-title
	font-family: 'OpenSansLight'
	text-transform: uppercase
	color: #666
	font-weight: 100
	letter-spacing: 4px
	font-size: 25px
	margin-bottom: 65px
	span
		display: inline-block
		position: relative
		&:before,
		&:after
			position: absolute
			content: ''
			width: 50px
			height: 55px
			background-image: url("../img/game/asteroid.png")
			background-repeat: no-repeat
		&:after
			background-position: -170px -40px
			top: -20px
			right: -48px
		&:before
			top: 16px
			left: -65px


section
	min-height: auto
	// background: #090c26
	// background: -moz-linear-gradient(left, #090c26 0%, #101d4f 50%, #090c26 100%)
	// background: -webkit-linear-gradient(left, #090c26 0%,#101d4f 50%,#090c26 100%)
	// background: linear-gradient(to right, #090c26 0%,#101d4f 50%,#090c26 100%)
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090c26', endColorstr='#090c26',GradientType=1 )

.fast-order	
	padding: 50px 0 15px 0
	@extend %card-gradient
	div.img-wrap
		img
			width: 100%
			max-width: 700px

section.difficulty
	.container
		margin-bottom: 60px
		&:nth-child(odd)
			.img-wrap
				&:before,
				&:after
					right: initial
					left: 0
				&:after
					transform: rotate(-50deg)
					margin-top: -35px			
	.img-wrap
		min-height: 250px
		position: relative
		padding-top: 10px
		&:before
			position: absolute
			content: ''
			top: 50%
			right: 0
			width: 50%
			height: 1px
			margin-top: -13px
			border-bottom: 2px dashed $yelow
			z-index: -1
		&:after
			position: absolute
			content: ''
			top: 50%
			right: 0
			width: 40px
			height: 40px
			margin-top: -30px
			background-image: url("../img/game/raketa.png")
			background-repeat: no-repeat
			transform: rotate(128deg)
		img
			max-width: 210px
	.card-gradient		
		.description
			top: 38%
		p.article
			position: absolute
			bottom: 15px
			left: 50%
			width: 100%									
			transform: translateX(-50%)
			&:before,
			&:after
				position: absolute
				font-family: 'FontAwesome'
				color: #999
				font-size: 15px
			&:before
				content: '\f10e'
				top: 0
				left: 0
			&:after
				content: '\f10d'
				bottom: 0
				right: 0px

.screenshots
	padding: 50px 0px 0px
	@extend %card-gradient
	#showcase
		height: 500px
		overflow: visible!important

.control-mode
	.col-sm-4
		background-image: url("../img/game/top_bg.png")
		background-repeat: no-repeat
		background-position: center right		
		min-height: 800px
		.description
			left: 50%
	.col-sm-8
		min-height: 800px
	.card-gradient
		position: absolute	
		width: 400px
		color: $white
		@extend %card-gradient
		&:nth-child(1)
			right: 30%
			top: 0
		&:nth-child(2)
			right: 0%
			top: 275px
		&:nth-child(3)
			right: 30%
			bottom: 0
		.img-wrap
			text-align: center
			min-height: 80px
			padding-top: 20px
			margin-bottom: 20px
		p
			margin: 0 auto
			&:before,
			&:after
				color: $white



.card-gradient
	border-radius: 10px
	box-shadow: 1px 1px 6px #ccc
	min-height: 250px	

.title-big
	font-family: 'fantasy'
	font-size: 25px
	font-weight: 100
	text-transform: uppercase
	letter-spacing: 8px
	text-align: center
	color: $white
	&.black
		color: #555!important
		span
			border-color: #555
	span
		max-width: 360px
		display: block		
		font-family: 'OpenSansLight'
		display: block
		font-size: 40px
		letter-spacing: 0px
		border: 1px solid $white
		border-left: none
		border-right: none
		line-height: 48px
		margin: 15px auto

p.article
	position: relative	
	max-width: 315px	
	font-style: italic
	text-align: center
	padding: 0 15px	
	&:before,
	&:after
		position: absolute
		font-family: 'FontAwesome'
		color: #999
		font-size: 15px
	&:before
		content: '\f10e'
		top: 0
		left: 0
	&:after
		content: '\f10d'
		bottom: 0
		right: 0px


.description
	position: absolute
	top: 50%
	width: 100%
	transform: translateY(-50%)

.send-developer
	.col-sm-4
		min-height: 420px
	#send
		display: inline-block
		width: 100%
		margin: 0
		padding: 40px 20px
		text-align: left
		border-radius: 10px
		@extend %card-gradient
		input,textarea
			border-radius: 5px
		button
			margin: 30px auto -10px
	.share-block
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		

footer
	position: relative
	min-height: 50px
	padding: 0
	margin: 0
	margin-top: 60px	
	@extend %card-gradient
	.copy 
		position: absolute
		min-height: 50px
		bottom: 0
		left: 0
		width: 100%
		line-height: 50px		
		a
			color: $white
			&:hover
				text-decoration: underline
			i
				margin-right: 5px
		.dev 
			position: absolute
			right: 0
			bottom: -45px
			width: 150px
			height: 40px
			padding-left: 24px
			background-image: url(../img/copy.png)
			background-repeat: no-repeat
			background-position: center left
			line-height: 14px!important
			background-size: 20px
			font-size: 10px
			padding-top: 5px
			span 
				display: block


@keyframes rotationsFirst
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

@keyframes rotationsSecond
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(-360deg)