section.last-plugins
	div.container
		div.row
			div.col-md-12
				h3.title-left Еще jQuery плагины для сайта
				div#sli-block
					div#sli-wrap
						div.sli-item
							div.container-fluid-site-item
								div.row
									div.col-md-4
										div.site-descr
											h3.anim_title jQuery-svg-progress
											p Это уникальный и единственный в своем роде jQuery plugin позволяющий отображать инфографику на вашем веб ресурсе, используя его вы сможете разнообразить свой сайт одной из шести фигур, а также есть возможность добавить кастомный контур из графического редактора.
											div.link_button
												a(href="plugins/jquery-svg-progress" class="site-link")
													span Подробнее 
														i.fa.fa-caret-right
													span Подробнее 
														i.fa.fa-caret-right
									div.col-md-8
										div.img-wrap
											img(src="img/jQuery-svg-progress.jpg" alt="jQuery-svg-progress")
						div.sli-item
							div.container-fluid-site-item
								div.row
									div.col-md-4
										div.site-descr
											h3.anim_title jQuery-svg-popup
											p Это уникальный и единственный в своем роде jQuery plugin позволяющий отображать инфографику на вашем веб ресурсе, используя его вы сможете разнообразить свой сайт одной из шести фигур, а также есть возможность добавить кастомный контур из графического редактора.
											div.link_button
												a(href="plugins/jquery-svg-progress" class="site-link")
													span Подробнее 
														i.fa.fa-caret-right
													span Подробнее 
														i.fa.fa-caret-right
									div.col-md-8
										div.img-wrap
											img(src="img/jQuery-svg-popup.jpg" alt="jQuery-svg-popup")