section#plagins.black_section.plagin.mt0
	div.black_section_wrap
		div.title_block
			h2.section_title.front_side Плагины
				span.sub_title разработка / идеи
				span.section_title.back_side Плагины
					span.sub_title разработка / идеи
		div.container.mt4.mb4
			div.row
				div.col-md-7
					div.site-descr.centr
						h2.title-left jQuery-svg-popup
						p.left  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corrupti, mollitia. Ut velit impedit, laudantium, eum accusantium rem voluptatibus id!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fuga nostrum, distinctio quas amet hic! Commodi esse ratione nulla facere?
				div.col-md-5.buttons-wrap
					.buttons
						a(href="inner-plagin.html" class="download site-link white mt3")
							span
								i.fa.fa-book
								| Документация
							span
								i.fa.fa-book
								| Документация
						a(href="inner-plagin.html" class="download site-link white mt3")
							span
								i.fa.fa-download
								| Скачать
							span
								i.fa.fa-download
								| Скачать		